<template>
    <div>
        <div class="row" v-if="carts.length === 0">
            <div class="row col-12 mx-0 px-0 pb-4 border-bottom border-light d-none d-lg-flex text-center  justify-content-center">
                <img src="/images/empty_cart.png" alt="">
            </div>
        </div>
        <div class="row" v-if="carts.length > 0">
            <div class="row col-12 mx-0 px-0 pb-4 border-bottom border-light d-none d-lg-flex">
                <div class="col-lg-6 px-0">
                    <span class="font-weight-bold medium">{{ translation('Nume', 'Имя') }}</span>
                </div>
                <div class="col-lg-5 px-0 mx-0 row">
                    <div class="col-lg-4 px-2">
                        <span class="font-weight-bold medium">{{ translation('Pret unitar', 'Цена за единицу') }}</span>
                    </div>
                    <div class="col-lg-4 px-2 text-center">
                        <span class="font-weight-bold medium">{{ translation('Cantitatea', 'Количество') }}</span>
                    </div>
                    <div class="col-lg-4 text-center">
                        <span class="font-weight-bold medium">{{ translation('Total', 'Всего') }}</span>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled row col-12 mx-0 px-0">
                <img v-if="loader" class="loader" src="/images/loader.gif" alt="">
                <cart-item v-for="(cart, index) in carts"
                           :key="index"
                           :item="cart"
                :lang="lang"></cart-item>
            </ul>
        </div>

        <!-- CART CONTENT -->
        <div class="row py-5 justify-content-between">
            <div class="col-11 col-sm-9 mx-auto col-lg-auto mx-lg-0 float-left">
                <button class="btn btn-lg btn-outline rounded-pill border-light w-100 w-lg-auto my-2  my-lg-0 "
                        @click="resetAllCart()">{{ translation('Sterge produsele din cos', 'Удалить товары из корзины') }}
                </button>
            </div>
            <div class="col-11 col-sm-9 mx-auto col-lg-auto mx-lg-0 float-right">
                <button onclick="window.location.href = '/catalog'" class="btn btn-lg btn-black rounded-pill border-light w-100 w-lg-auto my-2  my-lg-0 ">
                    {{ translation('Continua cumparaturile', 'Продолжить покупки') }}
                </button>
            </div>
        </div>

        <div class="row no-gutters py-5" v-if="carts.length > 0">
            <div class="col-12 col-lg-6 text-center text-lg-left">
<!--                <h3 class="font-weight-bold">Counpon discount</h3>-->
<!--                <p class="text-secondary">Enter your code if you have one. Pellentesque habitant morbi tristique-->
<!--                    senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae</p>-->
<!--                <div class="row">-->
<!--                    <div class="col-12 col-lg-7 my-2 my-lg-0">-->
<!--                        <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4 w-100"-->
<!--                               placeholder="Enter your code here"/>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-lg-5 pt-3 pb-5 py-lg-0">-->
<!--                        <a role="button" href="" class="btn btn-lg rounded-pill btn-black">APPLY COUNPON</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
                <div class="card bg-lighter border-lighter px-5 py-4">
                    <div class="row py-3 border-bottom">
                        <h3 class="font-weight-bold text-black">{{ translation('Total coș', 'Всего') }}</h3>
                    </div>
                    <div class="row  py-3">
                        <ul class="list-unstyled col-12 px-0 mb-0">
                            <li class="text-gray-700 lh-250 d-flex justify-content-between"><span
                                class="text-gray-700  font-weight-bold">{{ translation('Subtotal', 'Итого') }}</span> <span class="text-gray-800">{{total}} {{course}}</span>
                            </li>
                            <li class="lh-250 d-flex justify-content-between"><span
                                class="font-weight-bolder text-black">{{ translation('Total', 'Всего') }}</span> <span class="text-primary h3">{{total}} {{course}}</span>
                            </li>
                        </ul>
                    </div>
<!--                    <div class="row py-3">-->
<!--                        <p class="text-gray-700">Checkout with Mutilple Adresses</p>-->
<!--                    </div>-->
                    <div class="row py-3">
                        <div class="col-12 px-0">
                            <button type="button"
                                    onclick="window.location.href = '/checkout'"
                                    class="btn btn-lg rounded-pill text-white font-weight-bold btn-primary w-100">
                                {{ translation('Expediaza comanda', 'Отправьте заказ') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Cart",
    props: ['lang', 'course'],
    data() {
        return {
            carts: [],
            total: 0,
            loader: false,
        }
    },

    created() {
        this.getCart();
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },

        getCart(type) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            this.loader = true
            if (type === 1){
                this.carts = [];
            }


            axios.post('/api/get-cart', this.products, {
                headers: headers
            }).then(response => {
                if (response.status === 200) {
                    this.carts = response.data.model;
                    this.total = response.data.total;
                    this.delivery_price = response.data.delivery_price;
                    this.loader = false;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        resetAllCart() {
            this.$store.dispatch('resetCartStore');
            this.getCart();
        },
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts

        },


    }
}
</script>

<style lang="scss">

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

</style>
