<template>
    <div id="catalog_page" class="bg-white">
        <el-drawer
            :visible.sync="drawer"
            direction="ltr"
            :size="size"
            :with-header="false">
            <div class="filters__catalog__mobile">
                <div class="close__btn" @click="drawer = false">
                    <i class="el-icon-close"></i>
                </div>

                <div v-if="filters.category === 'shoes'" class="filters filters_mobile">
                    <div class="filter_item">
                        <el-select @change="getResults()"
                                   class="filter_select"
                                   v-model="filters.attribute_shoes.colors"
                                   multiple clearable
                                   :placeholder="translation('Culoare', 'Цвет')">
                            <el-option
                                v-for="(item, i) in scoped_filters['color']['values']"
                                :key="i"
                                :label="translationFix(item.translations)"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter_item">
                        <el-select @change="getResults()" class="filter_select"
                                   v-model="filters.attribute_shoes.categories"
                                   multiple clearable
                                   :placeholder="translation('Categorie', 'Категория')">
                            <el-option
                                v-for="(item, i) in scoped_filters['category']['values']"
                                :key="i"
                                :label="translationFix(item.translations)"
                                :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter_item">
                        <el-select @change="getResults()" class="filter_select" v-model="filters.attribute_shoes.sizes"
                                   multiple clearable
                                   :placeholder="translation('Marimi', 'Размеры')">
                            <el-option
                                v-for="(item, i) in scoped_filters['sizes']['values']"
                                :key="i"
                                :label="translationFix(item.translations)"
                                :value="item.name">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter_item">
                        <el-select @change="getResults()"
                                   class="filter_select"
                                   v-model="filters.attribute_shoes.material"
                                   multiple clearable
                                   :placeholder="translation('Material', 'Материал')">
                            <el-option
                                v-for="(item, i) in scoped_filters['material']['values']"
                                :key="i"
                                :label="translationFix(item.translations)"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div v-else class="filters filters_mobile">
                    <div class="filter_item" v-if="current_category">
                        <h5>{{ translation('Categorii', 'Категория') }}</h5>
                        <div class="filter_items d-flex flex-column">
                            <el-checkbox
                                @change="categoryEvents($event, item.id)"
                                v-model="selected_sub_categories"
                                v-for="(item, index) in current_category.childs" :key="index"
                                :label="item.id"
                                :value="item.id">
                                {{ item.lang.name }}
                            </el-checkbox>
                        </div>
                    </div>
                    <div class="filter_item"
                         v-for="(filter, index, i) in scoped_filters"
                         :key="index">
                        <h5>{{ index }}</h5>
                        <div class="filter_items d-flex flex-column">
                            <el-checkbox
                                @change="filterEvents($event, item.id)"
                                v-model="selected_filter"
                                v-for="(item, ii) in filter"
                                :key="ii"
                                :value="item.id"
                                :label="item.id">
                                {{ item.lang.name }}
                            </el-checkbox>
                        </div>
                    </div>
                </div>
                <div class="filter__btn">
                    <el-button class="btn__show_filter color-primary" @click="drawer = !drawer">
                        {{ translation('Afisa rezultatele', 'Показать результаты') }}
                    </el-button>
                </div>
                <div class="filter__btn">
                    <el-button class="btn__show_filter" @click="reset()">{{ translation('Reseteaza', 'Очистить') }}
                    </el-button>
                </div>
            </div>
        </el-drawer>
        <div class="container">
            <div class="row col-12 align-items-center px-0 mx-auto mb-4 mb-lg-5 pb-lg-5">
                <h1 class="col-auto col-lg-12 font-weight-bold px-0  mr-1 mr-lg-0 mb-0 mb-lg-2">
                    {{ translation('Catalog', 'Каталог') }}</h1>
                <div class="col-auto col-lg-auto breadcrumb  mb-0 ml-auto ml-lg-0 mr-lg-auto">
                    <ul class="breadcrumb_list mb-0">
                        <li class="breadcrumb_list_item">
                            <a href="/" class="breadcrumb_list_item_link">{{ translation('Principală', 'Главная') }}</a>
                        </li>
                        <li class="breadcrumb_list_item active mr-0">
                            <a href="/catalog"
                               class="breadcrumb_list_item_link">{{ translation('Catalog', 'Каталог') }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-auto ml-auto mb-0 d-none d-lg-block">
                    <div class="categories_menu mb-0">
                        <ul class="categories_menu_list mb-0">
                            <li class="categories_menu_list_item" :class="{ 'active' : filters.category === 0}"></li>
                            <li class="categories_menu_list_item"
                                :class="{ 'active' : filters.category === item.slug}"
                                v-for="(item, index) in categories"
                                :key="index">
                                <a class="categories_menu_list_item_link"
                                   :href="'/catalog/' + item.slug">{{ item.lang.name }}</a>
                            </li>
                            <li class="categories_menu_list_item"
                                :class="{ 'active' : filters.category == 'shoes'}">
                                <a class="categories_menu_list_item_link"
                                   :href="'/catalog/shoes'">{{ translation('Încălțăminte', 'Обувь') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="filter__btn">
                <el-button class="btn__show_filter" @click="drawer = !drawer">
                    {{ translation('Afișă filtre', 'Показать фильтры') }}
                </el-button>
            </div>
            <div class="info_action_section d-none d-lg-flex">
                <div class="count_products">
                    <span class="number_count">{{ products.total }}</span>
                    <span class="description_count"> {{ translation('PRODUSE GĂSITE', 'НАЙДЕНО ПРОДУКТОВ') }}</span>
                </div>
                <div class="group_action">
                    <div class="filter_btn">
                        <span @click="drawer = !drawer">{{ translation('FILTRE', 'ФИЛЬТРЫ') }} <i
                            :class="!drawer ? 'el-icon-arrow-down' : 'el-icon-arrow-up'"></i></span>
                    </div>
                    <div class="show_btns mr-0">
                        <div class="title_show">{{ translation('Afișă', 'Показать') }}</div>
                        <span class="show_btns_item" :class="{'active' : show_on_page === 9}"
                              @click="setOnPage(9)">9</span>
                        <span class="show_btns_item" :class="{'active' : show_on_page === 18}"
                              @click="setOnPage(18)">18</span>
                        <span class="show_btns_item" :class="{'active' : show_on_page === 27}"
                              @click="setOnPage(27)">27</span>
                    </div>
                    <div class="grid_line d-none">
                        <div class="item_line" @click="grid_line = true" :class="{'active' : grid_line == true}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14.999" viewBox="0 0 15 14.999">
                                <path id="icon_gird_view" data-name="icon gird view"
                                      d="M1778,326v-3h3v3Zm-6,0v-3h3v3Zm-6,0v-3h3v3Zm12-6v-3h3v3Zm-6,0v-3h3v3Zm-6,0v-3h3v3Zm12-6v-3h3v3Zm-6,0v-3h3v3Zm-6,0v-3h3v3Z"
                                      transform="translate(-1766 -311)"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="grid_line ? 'products row' : 'products_line'">
                <div v-for="(item, index) in products.data"
                     :key="item.id"
                     class="col-12 col-xsm-6 col-lg-4">
                    <product-item-shoes v-if="filters.category === 'shoes'" :lang="lang"
                                        :item="item"></product-item-shoes>
                    <product-item v-else :item="item"></product-item>
                </div>
            </div>
            <div class="pagination">
                <pagination :data="products" :limit="limit" @pagination-change-page="getResults">
                    <span slot="prev-nav">&lt;</span>
                    <span slot="next-nav">&gt;</span>
                </pagination>
            </div>
        </div>
        <div class="loader" v-if="preloader">
            <img src="/images/loader.gif" alt="">
        </div>
    </div>
</template>

<script>

export default {
    name: "Catalog",
    props: {
        categories: {type: Array, default: null},
        lang: {type: String},
        course: {type: String},
        category_id: {type: String, default: null},
        url: {type: Object, default: null}
    },
    data() {
        return {
            limit: 4,
            current_category: [],
            defaultProps: {
                children: 'childs',
                label: 'name',
            },
            defaultPropsSecond: {
                children: 'childs',
                label: 'name',
            },
            // filters
            grid_line: true,
            show_on_page: 18,
            show_filters: true,
            preloader: false,
            drawer: false,
            size: '100%',


            cat_id: '',
            subcat: [],
            scoped_filters: [],
            selected_filter: [],
            selected_sub_categories: [],
            filters: {
                page: 1,
                order_by: 'created_at',
                price: [0, 1],
                dinamic_filters: [],
                attribute_shoes: {
                    colors: [],
                    categories: [],
                    sizes: [],
                    material: [],
                },
                category: 1,
                sub_categories: [],
            },

            products: {},
            maxprice: '',
            sorts: [
                {
                    'id': 4,
                    'value': 'created_at',
                    'name_ro': 'Adăugate recent',
                    'name_ru': 'Недавно добавленные'
                },
                {
                    'id': 1,
                    'value': 'asc',
                    'name_ro': 'Dupa preț crescător',
                    'name_ru': 'Рост цены'
                },
                {
                    'id': 2,
                    'value': 'desc',
                    'name_ro': 'Dupa preț decrescător',
                    'name_ru': 'Снижая цену'
                }
            ],
            isProducts: false,
        }
    },

    created() {
        this.setDinFilter(this.url);
        this.filters.category = this.category_id
        if (Object.keys(this.url).length === 0 && this.url.constructor === Object) {
            this.getResults();
        } else {
            this.getResults(parseInt(this.url.page))
        }

        this.setMaxPrice();
        this.isMobile();
    },

    methods: {
        moreFilter(filter) {
            filter.more = false;
            filter.more = !filter.more;
        },

        translationFix(lang) {
            if (this.lang === 'ro') {
                return lang ? lang.ro : '';
            }

            if (this.lang === 'ru') {
                return lang ? lang.ru : '';
            }
        },

        isMobile() {
            if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
                || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
                this.limit = 1;
            }
        },

        setOnPage(value) {
            this.show_on_page = value;
            this.getResults();
        },
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
        //new filter
        filterEvents(e, id) {
            if (e === true) {
                this.filters.dinamic_filters.push(id);
            } else if (e === false) {
                let it = this.filters.dinamic_filters.indexOf(id);
                this.filters.dinamic_filters.splice(it, 1);
            }
            this.getResults();
        },

        categoryEvents(e, id) {
            if (e === true) {
                this.filters.sub_categories.push(id);
            } else if (e === false) {
                let it = this.filters.sub_categories.indexOf(id);
                this.filters.sub_categories.splice(it, 1);
            }
            this.getResults();
        },
        //new filter

        reset() {
            this.filters.dinamic_filters = [];
            this.filters.sub_categories = [];
            this.selected_filter = [];
            this.selected_sub_categories = [];
            this.filters.attribute_shoes.colors = [];
            this.filters.attribute_shoes.categories = [];
            this.filters.attribute_shoes.sizes = [];
            this.filters.attribute_shoes.material = [];
            this.getResults();
        },

        changeCategory(value) {
            this.filters.dinamic_filters = [];
            this.attribute_shoes = {
                colors: [],
                categories: [],
                sizes: [],
            }
            this.filters.category = value;
        },

        changeCategorySelect() {
            this.filters.dinamic_filters = [];
            this.attribute_shoes = {
                colors: [],
                categories: [],
                sizes: [],
            };
        },

        setMaxPrice() {
            this.maxprice = this.maxpri;
            this.filters.price[1] = this.maxprice;
        },
        notEmptyObject(someObject) {
            return Object.keys(someObject).length
        },

        setDinFilter(url) {
            if (this.notEmptyObject(this.url)) {
                if (this.url.specs != null){
                    // filtre dinamice
                    this.filters.dinamic_filters = url.specs.split(',').map(Number);
                    this.selected_filter = this.filters.dinamic_filters;
                }

                if (this.url.subcategories != null) {
                    //subcategorie imbracaminte
                    this.filters.sub_categories = url.subcategories.split(',').map(Number);
                    this.selected_sub_categories = this.sub_categories;
                }
            }
        },

        getResults(page = 1) {
            if (page > 1) {
                window.scrollTo({
                    top: 200,
                    behavior: 'smooth'
                });
            }
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };

            this.preloader = true;
            let category_id = this.filters.category;
            let subcategories = this.filters.sub_categories;
            let attribute = this.filters.dinamic_filters;
            let shoes_color = this.filters.attribute_shoes.colors;
            let shoes_category = this.filters.attribute_shoes.categories;
            let shoes_sizes = this.filters.attribute_shoes.sizes;
            let shoes_material = this.filters.attribute_shoes.material;
            let paginate = this.show_on_page;
            this.isProducts = false;
            let url = '?page=' + page + '&category_id=' + category_id + '&subcategories=' + subcategories + '&sort=' + this.filters.order_by + '&price=' + this.filters.price + '&specs=' + attribute + '&shoes_color=' + shoes_color + '&shoes_category=' + shoes_category + '&shoes_sizes=' + shoes_sizes + '&shoes_material=' + shoes_material + '&search=' + this.search + '&paginate=' + paginate;
            if (Number.isNaN(page)) {
                page = 1;
            }
            let filter = '?page=' + page + '&specs=' + attribute + '&subcategories=' + subcategories;

            axios.get('/api/products' + url, {headers}).then(response => {
                window.history.pushState({pageID: 'catalog'}, 'Catalog', filter);
                if (response.data.status === 200) {
                    if (response.data.products.data === 0) {
                        this.isProducts = true;
                    }
                    this.products = []
                    this.products = response.data.products;
                    this.maxprice = response.data.maxprice;
                    this.scoped_filters = response.data.filters;
                    this.current_category = response.data.current_category;
                    this.preloader = false;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    }
}
</script>

<style lang="scss">
#catalog_page {
    .el-drawer__wrapper {
        max-width: 400px;
    }

    .filters__catalog__mobile {
        padding: 49px 16px;
        max-height: 100vh;
        overflow-y: auto;

        .close__btn {
            position: absolute;
            top: 10px;
            right: 15px;

            .el-icon-close {
                font-size: 24px;
            }
        }

        .filters_mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            overflow: hidden;

            .filter_item {
                margin: 0;
            }

            .el-select {
                width: 100%;
            }
        }

        .filter__btn {
            .btn__show_filter {
                border-radius: 20px;
            }
        }
    }


    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .categories_menu {
        .categories_menu_list {
            display: flex;

            .categories_menu_list_item {
                list-style: none;
                margin-right: 50px;

                .categories_menu_list_item_link {
                    font-size: 15px;
                    font-weight: bold;
                    color: #9FA4AF;
                    text-transform: uppercase;
                }
            }

            .active {
                .categories_menu_list_item_link {
                    color: #000000;
                }
            }
        }
    }


    .page_title {
        padding-top: 40px;
        margin-bottom: 12px;

        span {
            font-size: 36px;
            font-weight: bold;
        }
    }

    .line_group {
        display: flex;
        justify-content: space-between;

        .breadcrumb {
            background: transparent !important;
            padding: 0 !important;

            .breadcrumb_list {
                display: flex;
                padding: 0 !important;

                .breadcrumb_list_item {
                    font-size: 15px;
                    font-weight: 600;

                    margin-right: 30px;
                    padding-left: 0 !important;

                    &:first-child {
                        list-style: none;
                    }

                    &::marker {
                        color: #9FA4AF;
                    }

                    .breadcrumb_list_item_link {
                        color: #9FA4AF;
                    }
                }

                .active {
                    .breadcrumb_list_item_link {
                        color: #000000;
                    }
                }
            }
        }

        .categories_menu {
            .categories_menu_list {
                display: flex;

                .categories_menu_list_item {
                    list-style: none;
                    margin-right: 50px;

                    .categories_menu_list_item_link {
                        font-size: 16px;
                        font-weight: bold;
                        color: #9FA4AF;
                        text-transform: uppercase;
                    }
                }

                .active {
                    .categories_menu_list_item_link {
                        color: #000000;
                    }
                }
            }
        }
    }

    .filters {
        display: flex;
        min-width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;

        .filter_item {
            margin-right: 15px;
            min-width: 150px;
            float: left;

            .filter_select {
                .el-input {
                    .el-input__inner {
                        border-radius: 20px;
                        background: #F6F7FB;
                        border-color: #F6F7FB;
                        height: 43px;
                    }
                }
            }
        }
    }

    .filter__btn {
        display: block;

        .btn__show_filter {
            width: 100%;
            background: #0a0c0d;
            color: white;
            font-weight: 300;
        }
    }

    @media (max-width: 430px) {
        .filter__btn {
            display: block;
        }
        .filters__descktop {
            //display: none !important;
        }
    }

    .info_action_section {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        .count_products {
            .number_count {
                font-size: 16px;
                font-weight: bold;
                color: #191817;
            }

            .description_count {
                font-size: 16px;
                font-weight: bold;
                color: #000000;
            }
        }

        .group_action {
            display: flex;
            align-content: center;
            align-self: baseline;

            .filter_btn {
                display: flex;
                margin-right: 79px;
                cursor: pointer;

                span {
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .show_btns {
                display: flex;
                margin-right: 90px;

                .title_show {
                    margin-right: 25px;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .show_btns_item {
                    margin-right: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #A1A1A1;
                    cursor: pointer;
                }

                .active {
                    color: black;
                }
            }

            .grid_line {
                display: flex;

                .item_line {
                    margin-right: 20px;
                    cursor: pointer;

                    svg {
                        fill: #acacac;
                    }
                }

                .active {
                    svg {
                        fill: black;
                    }
                }
            }
        }

    }

    .products {
        margin-top: 40px;
    }

    .products_line {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        gap: 50px;
    }
}
</style>
