<template>
    <div class="row py-5">
        <div v-if="form.carts.length > 0" class="row col-12 align-items-center text-center mx-auto mb-5 pb-lg-5">
            <h1 class="col-auto col-lg-12 font-weight-bold px-0  mr-1 mr-lg-0 mb-0 mb-lg-2">{{translation('Finalizare comandă', 'Завершение заказа')}}</h1>
            <div class="col-auto col-lg-12 breadcrumb justify-content-center mb-0 ml-auto">
                <ul class="breadcrumb_list mb-0">
                    <li class="breadcrumb_list_item"><a href="/" class="breadcrumb_list_item_link">{{translation('Principală', 'Главная')}}</a></li>
                    <li class="breadcrumb_list_item active mr-0"><a href="/checkout"
                                                                    class="breadcrumb_list_item_link">{{translation('Finalizare comandă', 'Завершение заказа')}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="form.carts.length > 0" class="col-12 col-lg-7">

            <p class="text-gray-700">{{translation('Ești deja înregistrat ?', 'Возвращающийся клиент ?')}} <a href="/user_login" class="text-black">{{translation('Loghează-te', 'Авторизоваться')}}</a></p>
            <!--        <p class="text-gray-700">Have a Coupon ? <a class="text-black">Click here to enter your code.</a>-->
            <!--        </p>-->
            <h3 class="font-weight-bold mt-4">{{translation('Detalii', 'Детали')}}</h3>
            <div class="row py-3">
                <div class="col-12">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Țară', 'Страна')}}</label>
                    <input v-model="form.country" type="text"
                           :class="{'is-invalid' : errors.country ? errors.country : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 col-lg-6 pb-3 pb-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Nume', 'Имя')}}</label>
                    <input v-model="form.first_name" type="text"
                           :class="{'is-invalid' : errors.first_name ? errors.first_name : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
                <div class="col-12 col-lg-6 pt-3 pt-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Prenume', 'Фамилия')}}</label>
                    <input v-model="form.last_name" type="text"
                           :class="{'is-invalid' : errors.last_name ? errors.last_name : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Nume companie', 'Название компании')}}</label>
                    <input v-model="form.company_name" type="text"
                           :class="{'is-invalid' : errors.company_name ? errors.company_name : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Adresă', 'Адрес')}}</label>
                    <input v-model="form.address" type="text"
                           :class="{'is-invalid' : errors.address ? errors.address : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Oraș', 'Город')}}</label>
                    <input v-model="form.city" type="text"
                           :class="{'is-invalid' : errors.city ? errors.city : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 col-lg-6 pb-3 pb-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Regiune', 'Область, край')}}</label>
                    <input v-model="form.region" type="text"
                           :class="{'is-invalid' : errors.region ? errors.region : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
                <div class="col-12 col-lg-6 pt-3 pt-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Cod poștal', 'Почтовый индекс')}}</label>
                    <input v-model="form.post_code" type="text"
                           :class="{'is-invalid' : errors.post_code ? errors.post_code : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 col-lg-6 pb-3 pb-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Email', 'Эл. адрес')}}</label>
                    <input v-model="form.email" type="text"
                           :class="{'is-invalid' : errors.email ? errors.email : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
                <div class="col-12 col-lg-6 pt-3 pt-lg-0">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Telefon', 'Телефон')}}</label>
                    <input v-model="form.phone" type="text"
                           :class="{'is-invalid' : errors.phone ? errors.phone : false}"
                           class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div v-if="form.create_an_account" class="row py-3">
                <div class="col-12">
                    <label class="form-label font-weight-medium text-secondary">{{translation('Parola', 'Parola')}}</label>
                    <input type="password" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
                </div>
            </div>
            <div v-if="form.create_an_account" class="row py-3">
                <div class="col-12">
                            <textarea
                                class="form-control form-control-extra-lighter form-textarea-no-resize rounded-form col-12 px-4 py-3"
                                style="height: 200px" placeholder="Write"></textarea>
                </div>
            </div>
        </div>
        <div v-if="form.carts.length > 0" class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
            <div class="card  bg-lighter border-lighter px-5 py-4">
                <div class="row py-3 justify-content-center border-bottom">
                    <h3 class="font-weight-bold">{{translation('Comanda ta', 'Ваш заказ')}}</h3>
                </div>
                <!-- CONTENT -->
                <div class="row  py-3 border-bottom ">
                    <ul class="list-unstyled col-12 px-0 mb-0">
                        <li><span class="font-weight-bold">{{translation('Produse', 'Продукты')}}</span></li>
                        <li class="protuct_checkout_item text-gray-700 d-flex justify-content-between lh-150"
                            v-for="(cart, index) in form.carts"
                            :key="index">
                            <div class="col-md-4 image">
                                <img v-if="cart.type === 1" :src="cart.color_image.url" alt="">
                                <img v-if="cart.type === 2" :src="cart.color_image" alt="">
                            </div>
                            <div class="col-md-8 content">
                                <div class="row">
                                    <div class="col-12">
                                        <strong class="">{{ cart.data.price.price * cart.quantity }}
                                            {{ cart.data.price.valute }}</strong>
                                    </div>

                                    <div class="col-12">
                                        <span class="" v-if="cart.type === 1">{{ cart.data.lang.name }}</span>
                                        <span class="" v-if="cart.type === 2">{{ cart.name }}</span>
                                    </div>
                                    <div class="col-12 d-flex flex-column">
                                        <strong v-if="cart.type === 1"
                                                v-for="(spec, i) in cart.specification"
                                                :key="i">{{ spec.parent.lang.name }}: {{ spec.lang.name }}</strong>
                                        <strong v-if="cart.type === 2">{{translation('Marime:', 'Размер:')}} {{ cart.spec }}</strong>
                                    </div>
                                    <div class="col-12">
                                        <span class="">{{translation('Cantitate:', 'Количество:')}} <strong>{{ cart.quantity }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row  py-3 border-bottom ">
                    <ul class="list-unstyled col-12 px-0 mb-0">
                        <li class="d-flex justify-content-between"><span
                            class="font-weight-bold">{{translation('Subtotal', 'Промежуточный итог')}}</span><span
                            class="text-gray-800">{{ form.total }} {{ course }}</span></li>
                    </ul>
                </div>
                <div class="row  py-3 border-bottom ">
                    <ul class="list-unstyled col-12 px-0 mb-0">
                        <li class="d-flex justify-content-between"><span
                            class="font-weight-bold">{{translation('Livrare', 'Доставка')}}</span>
                            <span class="text-gray-700">{{ form.delivery_price }} {{ course }}</span>
                        </li>
                    </ul>
                </div>
                <div class="row  py-5">
                    <ul class="list-unstyled col-12 px-0 mb-0">
                        <li class="d-flex justify-content-between"><span
                            class="font-weight-bold">{{translation('Total', 'Всего')}}</span>
                            <span class="h3 text-primary">{{ totalPrice }} {{ course }}</span>
                        </li>
                    </ul>
                </div>
                <!-- TODO: ADD RADIO COMPONENT -->
                <!--                <div class="row">-->
                <!--                    <div class="custom-control custom-radio custom-control-inline text-gray-700">-->
                <!--                        <input class="custom-control-input" type="radio" name="paymentMethod" id="paymentBank"-->
                <!--                               value="paymentBank">-->
                <!--                        <label class="custom-control-label font-weight-bold text-black" for="paymentBank">-->
                <!--                            Direct bank transfer-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <p class="pl-4 text-gray-700">-->
                <!--                        Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat.-->
                <!--                        Vestibulum lacinia risus. Etiam sagittis ullamcorper volutpat.-->
                <!--                    </p>-->
                <!--                </div>-->
<!--                <div class="row mb-3">-->
<!--                    <div class="custom-control custom-radio custom-control-inline text-gray-700">-->
<!--                        <input class="custom-control-input" v-model="form.payment" type="radio" name="paymentMethod"-->
<!--                               id="paymentCash"-->
<!--                               value="cash">-->
<!--                        <label class="custom-control-label font-weight-bold text-black" for="paymentCash">-->
<!--                            Cash-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="custom-control custom-radio custom-control-inline text-gray-700">-->
<!--                        <input v-model="form.payment" class="custom-control-input" type="radio" name="paymentMethod"-->
<!--                               id="paymentCard"-->
<!--                               value="card">-->
<!--                        <label class="custom-control-label font-weight-bold text-black" for="paymentCard">-->
<!--                            <span>Plata card bancar</span>-->
<!--                            <span class="text-gray-800 mx-1">-->
<!--                                        <i class="fab fa-cc-mastercard fa-lg"></i>-->
<!--                                    </span>-->
<!--                            <span class="text-gray-800 mx-1">-->
<!--                                        <i class="fab fa-cc-visa fa-lg"></i>-->
<!--                                    </span>-->
                            <!--                            <span class="text-gray-800 mx-1">-->
                            <!--                                        <i class="fab fa-paypal fa-lg"></i>-->
                            <!--                                    </span>-->
                            <!--                            <span class="text-gray-800 mx-1">-->
                            <!--                                        <i class="fab fa-cc-discover fa-lg"></i>-->
                            <!--                                    </span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row py-3">
                    <div class="col-12">
                        <button @click="checkout()" type="button"
                                class="btn btn-lg rounded-pill text-white font-weight-bold btn-primary w-100">
                            {{translation('Transmite comanda', 'Отправить заказ')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <img v-if="loader" class="loader" src="/images/loader.gif" alt="">
    </div>
</template>

<script>
export default {
    name: "Checkout",
    props: ['lang', 'course'],
    data() {
        return {
            loader: false,
            errors: [],
            form: {
                carts: [],
                total: 0,
                delivery_price: 0,
                create_an_account: false,
                payment: 'cash',

                country: '',
                first_name: '',
                last_name: '',
                company_name: '',
                address: '',
                city: '',
                region: '',
                post_code: '',
                email: '',
                phone: '',
            },
        }
    },

    created() {
        this.getCart();
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
        getCart(type) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            this.loader = true
            if (type === 1) {
                this.form.carts = [];
            }


            axios.post('/api/get-cart', this.products, {
                headers: headers
            }).then(response => {
                if (response.status === 200) {
                    this.form.carts = response.data.model;
                    this.form.total = response.data.total;
                    this.loader = false;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
        checkout() {
            axios.post('/api/checkout', this.form)
                .then(response => {
                    if (response.status === 200) {
                        this.resetCartStore();
                        window.location.href = '/thank-you-page/' + response.data.invoice_id;
                    }
                }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        resetCartStore() {
            this.$store.dispatch('resetCartStore')
        },
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts

        },

        totalPrice() {
            let total = 0;
            total += this.form.total + this.form.delivery_price;
            return total;
        }
    }
}
</script>

<style lang="scss" scoped>
.protuct_checkout_item {
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
    padding-top: 10px;

    &:nth-child(2) {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    .image {
        padding: 0;

        img {
            height: 110px;
            width: 85px;
            object-fit: cover;
        }
    }
}
</style>
