<template>
    <div class="bg-white pt-lg-5">


        <div class="group_sections">
            <div class="section_tranding">
                <div class="d-flex position-relative justify-content-center pb-lg-5">
                    <div class="section-title-vertical"><span class="text-white">DISCOV</span>ER NOW</div>
                </div>
                <div class="container mt-lg-5 pt-4">
                    <div class="row">
                        <div class="col-12 col-lg-5 d-flex align-self-center">
                            <img src="/images/logo/logo_white.svg" height="78" class="mx-auto mx-lg-3" />
                        </div>
                        <div class="col-lg-1 align-self-center">
                            <div class="v-divider d-none d-lg-block my-3 bg-white"></div>
                            <div class="h-divider d-block d-lg-none my-3 mx-auto bg-white"></div>
                        </div>
                        <div class="col-lg-6">
                            <p class="text-white font-weight-light">
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula hendrerit ac nisi
Hendrerit ac nisi Lorem ipsum dolor sit amet. Tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit.
                            </p>
<!--                            <p class="normal text-lg-left text-center">-->
<!--                                <span class="text-white font-weight-semibold">JONT HENRRY</span>-->
<!--                                <span class="text-white">- CEO NESOS</span>-->
<!--                            </p>-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="w-100 position-relative position-lg-relative bottom-sliders">
                    <div class="container">
                        <div class="section_tranding_offer row justify-content-between">
                            <div class="slider_tranding col-12 col-lg-auto">
                                <el-carousel class="slider_offer" trigger="click">
                                    <el-carousel-item v-for="(item, i) in populars" :key="i">
                                        <div class="img">
                                            <img class="slider_image_trand" :src="item.image.url" alt="">
                                        </div>

                                        <h4 class="title" v-if="item.lang" v-html="item.lang.name"></h4>
<!--                                        <span class="desc" v-if="item.lang" v-html="item.lang.description"></span>-->
                                    </el-carousel-item>
                                </el-carousel>
                            </div>
                            <div class="offer_image col-12 col-lg-6 justify-self-end">
                                <div class="title">
                                    <span class="text-primary text-lg-white mx-1">{{translation('Colecții', 'Трендовые')}} </span> <span class="text-white mx-1"> {{translation('de trend', 'коллекции')}}</span>
                                </div>

                                <div class="content" onclick="window.location.href = '/catalog/imbracaminte-1'">
                                    <div class="img">
                                        <img src="/images/bg_slider.png" alt="">
                                        <div class="detail">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="164" height="164"
                                                viewBox="0 0 164 164">
                                                <defs>
                                                    <filter id="Ellipse_bg" x="0" y="0" width="164" height="164"
                                                            filterUnits="userSpaceOnUse">
                                                        <feOffset input="SourceAlpha"/>
                                                        <feGaussianBlur stdDeviation="19" result="blur"/>
                                                        <feFlood flood-color="#191817" flood-opacity="0.31"/>
                                                        <feComposite operator="in" in2="blur"/>
                                                        <feComposite in="SourceGraphic"/>
                                                    </filter>
                                                </defs>
                                                <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Ellipse_bg)">
                                                    <circle id="Ellipse_bg-2" data-name="Ellipse bg" cx="25" cy="25" r="25"
                                                            transform="translate(57 57)" fill="#191817"/>
                                                </g>
                                                <path id="view" d="M1259,1963v-9h-9v-1h9v-10h1v10h10v1h-10v9Z"
                                                    transform="translate(-1178 -1871)" fill="#fff"/>
                                            </svg>
                                        </div>

                                    </div>
                                    <div class="desc">
                                        <span class="desc_title">{{translation('Îmbrăcăminte femei', 'Женская одежда')}}</span>
                                        <span class="desc_desc">{{translation('Cea mai mare alegere de rochii, încălțăminte, fuste pentru domnișoare.', 'Самый большой выбор платьев, туфель, юбок для дам.')}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <section class="mt-5">
            <div class="container">
                <popular-slider :lang="lang" :course="course" :categories="categories"></popular-slider>
            </div>
        </section>



        <!-- <div>
             <div class="container">
                <div class="row position-realitve">
                    <div class="col-12 text-center text-lg-left col-lg-auto produc-desc-slide-deal mx-auto mx-lg-0 justify-content-center">
                        <h1 class="text-primary font-weight-bold">Deal off the day</h1>
                        <p class="text-uppercase lh-200 py-0 my-0 normal mt-2">NESOS WHITE T-SHIRT SUMMER NEW</p>
                        <p class="text-uppercase lh-200 py-0 my-0 normal text-gray-800">350 MDL</p>
                        <div class="mt-5">
                            <a href="" class="text-uppercase ls-2 lh-200 font-weight-bold text-primary normal text-decoration-none">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="col-auto mx-auto mx-lg-0 bg-circle-slider-deal">
                        <img src="/images/cross-1x1.png" class="image-product-slide-deal">

                    </div>
                    <div class="col-auto count-slide-deal d-flex align-self-end justif-self-end px-0">
                        <count-down date="2021-04-06 08:15:00"></count-down>
                    </div>
                </div>
        </div>
        </div>  -->
<!--        <div class="deal_of_day">-->

<!--                <deal-slider></deal-slider>-->
<!--        </div>-->

        <div class="pb-5 pt-5">
            <div class="container">
                <div class="row pt-5 mb-5 text-center text-lg-left">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <h3 class="font-weight-600 h5">{{translation('Livrare gratuită', 'Бесплатная доставка')}}</h3>
                        <p class="text-secondary letter-spacing-3">{{translation('Pe teritoriul chișinăului', 'На территории Кишинева')}}</p>
                    </div>
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <h3 class="font-weight-600 h5">{{translation('Suport', 'Служба поддержки')}}</h3>
                        <p class="text-secondary letter-spacing-3">{{translation('de la 8:00 până la 18:00', 'с 8:00 до 18:00')}}</p>
                    </div>
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <h3 class="font-weight-600 h5">{{translation('Produse de calitate', 'Качественная продукция')}}</h3>
                        <p class="text-secondary letter-spacing-3">{{translation('100% calitate', '100% качество')}}</p>
                    </div>
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <h3 class="font-weight-600 h5">{{translation('14 zile returnare produse', '14 дней возврат товара')}}</h3>
                        <p class="text-secondary letter-spacing-3">{{translation('Simplu returnați în 14 zile', 'Легкий возврат за 14 дней')}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: "Index",
    components: {VueSlickCarousel},
    props: ['lang', 'course', 'categories', 'images', 'populars', 'vars'],
    data() {
        return {
            first_slider: {
                arrows: true,
                dots: false,
            },
        }
    },
    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
      showNext() {
        this.$refs.carousel.next()
      },
      showPrev() {
        this.$refs.carousel.prev()
      },
    },
}
</script>

<style lang="scss">
@import "resources/sass/layout/index.scss";
</style>
