<template>
    <div id="product_section" class="bg-white">
        <div class="container">
            <div class="row col-12 pt-2 pb-3 py-lg-2 mr-0 pr-0">
                <div class="col-12 breadcrumb justify-content-start mb-0 flex-grow-1">
                    <ul class="breadcrumb_list ml-default mb-3 flex-wrap d-xsm-none d-md-flex">
                        <li class="breadcrumb_list_item ml-0">
                            <a href="/" class="breadcrumb_list_item_link">
                                {{translation('Pagina principală', 'Главная') }}
                            </a>
                        </li>
                        <li class="breadcrumb_list_item">
                            <a href="/catalog"
                               class="breadcrumb_list_item_link">{{ translation('Categorii', 'Категории') }}</a>
                        </li>
                        <li class="breadcrumb_list_item" v-if="model.category.parent">
                            <a :href="'/catalog/'+model.category.parent.slug" class="breadcrumb_list_item_link">
                                {{ model.category.parent.lang.name }}</a>
                        </li>
<!--                        <li class="breadcrumb_list_item" v-if="model.category">-->
<!--                            <a :href="'/catalog/'+model.category.slug" class="breadcrumb_list_item_link">-->
<!--                                {{ model.category.lang.name }}</a>-->
<!--                        </li>-->
                        <li class="breadcrumb_list_item active mr-0">
                            <a :href="'/product/'+model.slug" class="breadcrumb_list_item_link" v-if="model.lang">
                                {{ model.lang.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="first_product_section pb-3">
                <slider-component :images="model.galleries" :object="true" :active_item="active_item"/>
                <div class="information_product">
                    <div class="product_info">
                        <div class="title">
                            <span v-if="model.lang">{{ model.lang.name }}</span>
                        </div>
                        <div class="rates justify-content-between justify-content-lg-start mt-2">
                            <a v-if="auth" target="_blank" :href="'/admin/new-products/downloadImage/'+model.id">Download</a>
                        </div>
                        <div class="price font-weight-medium">
                            <span>{{ model.price.price }} {{ model.price.valute }}</span>
                        </div>
                        <div class="description font-weight-regular" v-html="model.description"></div>
                        <div class="description font-weight-regular" v-if="model.lang"
                             v-html="model.lang.description"></div>
                        <div class="section_prod_filters">
                            <div class="filter_item row" v-if="model.gallery_filter.length > 0">
                                <div class="name col-12 col-lg-auto">
                                    <span>{{ translation('Culoare', 'Цвет') }}</span>
                                </div>
                                <el-radio-group @change="goToSlide($event)" class="color__selector col-12 col-lg-auto"
                                                v-model="form.grouped_img_filter"
                                                size="mini">
                                    <el-radio-button v-for="(item, i) in model.gallery_filter"
                                                     :key="i"
                                                     :label="item.id"
                                                     :style="'background-image: url(' +item.url + '); background-position: center;'">
                                    </el-radio-button>
                                </el-radio-group>
                            </div>

                            <div class="filter_item row" v-for="(filters, index, ii) in grouped_filter" :key="ii">
                                <div class="name col-12 col-lg-auto">
                                    <span>{{ index ? index : 'No name' }}</span>
                                </div>
                                <el-radio-group v-model="form.grouped_filter[index]"
                                                size="mini"
                                                class="col-12 col-lg-auto"
                                >
                                    <el-radio-button v-for="(filter, i) in filters"
                                                     :key="i"
                                                     :label="filter.id"
                                                     :class="{'color' : filter.hex !== '#000000'}"
                                                     :style="filter.hex !== '#000000' ? 'background:' + filter.hex : ''"
                                                     class="rounded-0" v-if="filter.lang">
                                        {{ filter.lang.name }}
                                    </el-radio-button>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="act_cart row no-gutters">
                            <div
                                class="col-auto px-0 py-2 py-lg-0 qnt d-flex d-lg-inline-flex justify-content-center justify-content-lg-start">
                                <el-input-number class="el-input-number--white-wborder rounded-pill overflow-hidden"
                                                 v-model="form.quantity" :min="1"></el-input-number>
                            </div>
                            <div
                                class="col-auto px-0 py-2 py-lg-0  btn_add_to_cart d-flex d-lg-inline-flex justify-content-center justify-content-lg-start">
                                <el-button @click="addProductToCart()" class="border-0 btn-lg">
                                    {{ translation('Adaugă în coș', 'Добавить в корзину') }}
                                </el-button>
                            </div>
                            <div class="favorite d-none d-lg-inline-flex"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import SliderProduct from "../ui/SliderProduct";
import SliderComponent from "../ui/SliderComponent";

export default {
    name: "Product",
    components: {SliderComponent, SliderProduct, VueSlickCarousel},
    props: ['model', 'lang', 'auth'],
    created() {
        this.myFunction();
        this.defaultSelected();
        this.setColorId();
    },
    data() {
        return {
            dialogVisible: false,
            img: '',
            active_item: 0,
            refresh: true,
            grouped_filter: {},
            option_slider: {
                fade: true,
                dots: false,
                infinite: true,
            },
            option_thumb: {
                slidesToShow: 4,
                vertical: true,
                navigation: true,
                infinite: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            vertical: false,
                            arrows: false,
                            infinite: true,
                            dots: false,
                        }
                    }
                ]
            },
            option_slider_one: {
                fade: true,
                dots: false,
                navigation: false,
                responsive: [
                    {
                        breakpoint: 420,
                        settings: {
                            infinite: true,
                            dots: false,
                            navigation: false,
                        }
                    }
                ]
            },
            option_thumb_one: {
                slidesToShow: 4,
                vertical: true,
                navigation: false,
                cssEase: 'linear',
                responsive: [

                    {
                        breakpoint: 991.99,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: false,
                            vertical: false,
                        }
                    }
                ]
            },

            //cart
            form: {
                grouped_filter: {},
                grouped_img_filter: '',
                quantity: 0,
            }
        }
    },

    watch: {
        'form.grouped_img_filter': {
            handler() {
                this.inCartByProduct();
            }
        }
    },

    methods: {
        imgClick(item) {

            this.dialogVisible = true;
            this.img = item.url;
        },
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
        goToSlide(id) {
            this.active_item = id;
            // this.$refs['slider-big'].goTo(i)
            // this.$refs['slider-thumb'].goTo(i)
            // this.$refs['sliderone1'].goTo(i)
            // this.$refs['slidertwo1'].goTo(i)
        },

        findWithAttr(array, attr, value) {
            for (var i = 0; i < array.length; i += 1) {
                if (array[i][attr] === value) {
                    return i;
                }
            }
            return -1;
        },

        addProductToCart() {
            let prod = {
                item: this.model,
                specification: this.plucked(this.form.grouped_filter),
                color: this.form.grouped_img_filter,
                quantity: this.form.quantity,
                type: 1,
            };
            this.$store.dispatch('addProductToCart', prod)
            this.quantity = 1;
            this.defaultSelected();
        },

        setColorId() {
            if (this.model.gallery_filter.length > 0) {
                this.form.grouped_img_filter = this.model.gallery_filter[1].id
            }
        },

        plucked(val) {
            let arr = [];
            for (const [key, value] of Object.entries(this.form.grouped_filter)) {
                arr.push(value);
            }
            return arr;
        },

        defaultSelected() {
            for (const [key, value] of Object.entries(this.grouped_filter)) {
                Vue.set(this.form.grouped_filter, key, parseInt(value[0].id));
            }
        },

        myFunction: function () {
            this.grouped_filter = this.sortObject(this.model.grouped_specs);
        },
        sortObject: function (o) {
            return Object.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {});
        },
        syncSliders(currentPosition, nextPosition) {
            this.$refs['slider-big'].goTo(nextPosition)
            this.$refs['slider-thumb'].goTo(nextPosition)
            this.$refs['sliderone1'].goTo(nextPosition)
            this.$refs['slidertwo1'].goTo(nextPosition)
        },

        inCartByProduct() {
            let item = this.products.find(item => item.id === this.model.id &&
                item.specification.toString() === this.plucked(this.form.grouped_filter).toString() &&
                item.color === this.form.grouped_img_filter)
            if (item) {
                this.form.quantity = item.quantity
            } else {
                this.form.quantity = 1
            }
        },
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts;
        },
    }
}
</script>

<style lang="scss">
@import "resources/sass/layout/product.scss";

.slider_pop {
    display: grid;
    grid-template-columns: 20% 66%;
}

.mob_none {
    display: block;
}

.slick-prev:before, .slick-next:before {
    display: none;
    //font-size: 40px !important;
    //color: #d8dbde;
}

.slider-thumb .slick-slide .slider_thumb_item img {
    width: 100px;
    height: 100px;
}

.slider_primary .slider_primary_item {
    width: 100%;
    height: 400px;
}

.slider_primary .slider_primary_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider_primary .slider_pop_up_item {
    height: calc(100vh - 100px);
}

.el-dialog__wrapper {
    overflow: hidden;
}

.el-dialog__wrapper .el-dialog {
    background: #ffffff !important;
    height: 100%;
}

.el-dialog__wrapper .el-dialog .el__dialog__image {
    width: 100%;
    height: 100vh;
    min-height: 100%;
}

.el-dialog__wrapper .el-dialog .el__dialog__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 420px) {
    .slider_pop {
        display: block;
    }

    .mob_none {
        display: none;
    }
}

@media (max-width: 500px) {
    .breadcrumb_list_item {
        &:last-child {
            margin-left: 16px !important;
        }
    }
    .first_product_section {
        display: block !important;

        .slider_product {
            display: flex !important;
            flex-wrap: wrap;

            .slick-slide {
                text-align: center;
            }
        }
    }
}
</style>
