<template>
    <div id="product_section" class="bg-white">
        <div class="container">
            <div class="row col-12 pt-2 pb-3 py-lg-2 mr-0 pr-0">
                <div class="col-12 breadcrumb justify-content-start mb-0 flex-grow-1">
                    <ul class="breadcrumb_list ml-default mb-0 flex-wrap d-xsm-none d-md-flex">
                        <li class="breadcrumb_list_item ml-0">
                            <a href="/" class="breadcrumb_list_item_link">
                                {{ translation('Pagina principală', 'Главная') }}
                            </a>
                        </li>
                        <li class="breadcrumb_list_item">
                            <a href="/catalog" class="breadcrumb_list_item_link">
                                {{ translation('Categorii', 'Категории') }}
                            </a>
                        </li>
                        <li class="breadcrumb_list_item">
                            <a href="/catalog/shoes" class="breadcrumb_list_item_link">
                                {{ translation('Încălțăminte', 'Обувь') }}
                            </a>
                        </li>
                        <li class="breadcrumb_list_item active mr-0">
                            <a :href="'/shoes/'+model.slug" class="breadcrumb_list_item_link text-capitalize">
                                {{ name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="first_product_section pb-3">
                <slider-component :images="model.image"/>
                <div class="information_product">
                    <div class="product_info">
                        <div class="title">
                            <span class="text-capitalize">{{ name }}</span>
                        </div>
                        <div class="rates">
                            <a class="mr-2" v-if="auth" target="_blank" :href="'/admin/shoes/downloadImage/'+model.id">Download</a>
                            <a v-if="auth" :href="'/admin/shoes/update-images/'+model.id">Update images</a>
                        </div>

                        <div class="description font-weight-regular">
                            <div class="price font-weight-medium">
                                <span>{{ model.price.price }} {{ model.price.valute }}</span>
                            </div>
                            <div class="" v-if="model.material">
                                <strong>{{ translation('Material:', 'Материал:') }}</strong>
                                <span>{{ trs(model.material) }}</span>
                            </div>
                            <div v-if="model.interior">
                                <strong>{{ translation('Componență interior:', 'Внутренний состав:') }}</strong>
                                <span>{{ trs(model.interior) }}</span>
                            </div>
                            <span>{{
                                    translation(model.description_optional_ro ? model.description_optional_ro : '', model.description_optional_ru ? model.description_optional_ru : '')
                                }}</span>
                            <div class="mt-3 mb-3" v-html="model.description"></div>
                            <strong>{{ translation('Ghid marimi:', 'Таблица размеров:') }}</strong>
                            <div :style="'width: 80px;'">{{ model.specification_description }}</div>
                        </div>
                        <div class="section_prod_filters">
                            <div class="filter_item row">
                                <div class="name col-12 col-lg-auto">
                                    <span>{{ translation('Marimi disponibile', 'Доступные размеры') }}</span>
                                </div>
                                <el-radio-group v-model="form.grouped_filter"
                                                size="mini"
                                                class="col-12 col-lg-auto">
                                    <el-radio-button v-for="(filter, i) in model.size"
                                                     :key="i"
                                                     :label="filter"
                                                     class="rounded-0">{{ filter }}
                                    </el-radio-button>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="act_cart row no-gutters">
                            <div
                                class="col-auto px-0 py-2 py-lg-0 qnt d-flex d-lg-inline-flex justify-content-center justify-content-lg-start">
                                <el-input-number class="el-input-number--white-wborder rounded-pill overflow-hidden"
                                                 v-model="form.quantity" :min="1"></el-input-number>
                            </div>
                            <div
                                class="col-auto px-0 py-2 py-lg-0  btn_add_to_cart d-flex d-lg-inline-flex justify-content-center justify-content-lg-start">
                                <el-button @click="addProductToCart()" class="border-0 btn-lg">
                                    {{ translation('Adaugă în coș', 'Добавить в корзину') }}
                                </el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import SliderComponent from "../ui/SliderComponent";

export default {
    name: "ProductShoes",
    components: {SliderComponent, VueSlickCarousel},
    props: ['model', 'name', 'lang', 'auth'],
    data() {
        return {
            dialogVisible: false,
            img: '',
            refresh: true,
            grouped_filter: {},
            option_slider: {
                fade: true,
                dots: false,
            },
            option_thumb: {
                dots: true,
                infinite: false,
                vertical: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            vertical: false,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            vertical: false,
                        }
                    }
                ]
            },
            option_slider_one: {
                fade: true,
                dots: false,
                navigation: false,
                responsive: [
                    {
                        breakpoint: 420,
                        settings: {
                            infinite: true,
                            dots: false,
                            navigation: false,
                        }
                    }
                ]
            },
            option_thumb_one: {
                slidesToShow: 4,
                vertical: true,
                navigation: false,
                cssEase: 'linear',
                responsive: [

                    {
                        breakpoint: 991.99,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: false,
                            vertical: false,
                        }
                    }
                ]
            },

            //cart
            form: {
                grouped_filter: '',
                grouped_img_filter: '',
                quantity: 0,
            }
        }
    },

    created() {
        // this.myFunction();
        this.defaultSelected();
        // this.setColorId();
    },

    watch: {
        'form.grouped_img_filter': {
            handler() {
                this.inCartByProduct();
            }
        }
    },

    methods: {
        trs(item) {
            if (item.translations !== null) {
                if (this.lang === 'ro') {
                    return item.translations.ro
                }

                if (this.lang === 'ru') {
                    return item.translations.ru
                }
            } else {
                return item.name
            }
        },
        imgClick(item) {

            this.dialogVisible = true;
            this.img = item.url;
        },
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
        addProductToCart() {
            let prod = {
                item: this.model,
                specification: this.form.grouped_filter,
                color: this.form.grouped_img_filter,
                quantity: this.form.quantity,
                type: 2,
            };
            this.$store.dispatch('addProductToCart', prod)
            this.quantity = 1;
            this.defaultSelected();
        },

        setColorId() {
            if (this.model.gallery_filter.length > 0) {
                this.form.grouped_img_filter = this.model.gallery_filter[1].id
            }
        },

        plucked(val) {
            let arr = [];
            for (const [key, value] of Object.entries(this.form.grouped_filter)) {
                arr.push(value);
            }
            return arr;
        },

        defaultSelected() {
            this.form.grouped_filter = this.model.size[0]
            // for (const [key, value] of Object.entries(this.model.sizes)) {
            // console.log(value)
            // this.form.grouped_filter = value[0].value
            // Vue.set(this.form.grouped_filter, key, parseInt(value[0].value));
            // }
        },

        myFunction: function () {
            this.grouped_filter = this.sortObject(this.model.grouped_specs);
        },
        sortObject: function (o) {
            return Object.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {});
        },
        syncSliders(currentPosition, nextPosition) {
            this.$refs['slider-big'].goTo(nextPosition)
            this.$refs['slider-thumb'].goTo(nextPosition)
            this.$refs['sliderone1'].goTo(nextPosition)
            this.$refs['slidertwo1'].goTo(nextPosition)
        },

        inCartByProduct() {
            let item = this.products.find(item => item.id === this.model.id &&
                item.specification === this.form.grouped_filter &&
                item.color === this.form.grouped_img_filter)
            if (item) {
                this.form.quantity = item.quantity
            } else {
                this.form.quantity = 1
            }
        },
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts;
        },
    }
}
</script>

<style lang="scss">
@import "resources/sass/layout/product.scss";
</style>
