<template>
    <div class="min_cart" onclick="window.location.href = '/cart'">
        <div class="count_cart">{{ countCart }}</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="59.999" viewBox="0 0 60 59.999">
            <g id="cart_copy" data-name="cart copy" transform="translate(-1759 -59)">
                <path id="Ellipse_2" data-name="Ellipse 2"
                      d="M1789,119a30,30,0,1,1,8.274-58.844,14,14,0,0,0,19.7,17.986A29.991,29.991,0,0,1,1789,119Z"
                      fill="#191817"/>
                <path id="Bag"
                      d="M1796.64,84.124a.682.682,0,0,0-.676-.626h-3.393V82.123a4.072,4.072,0,1,0-8.143,0V83.5h-3.393a.683.683,0,0,0-.676.626L1779,99.249a.692.692,0,0,0,.175.525.675.675,0,0,0,.5.224h17.643a.675.675,0,0,0,.5-.224.693.693,0,0,0,.175-.525Zm-10.854-2a2.715,2.715,0,1,1,5.429,0V83.5h-5.429Zm-5.364,16.5,1.233-13.75h2.773v1.565a1.357,1.357,0,1,0,1.357,0V84.873h5.429v1.565a1.357,1.357,0,1,0,1.357,0V84.873h2.773l1.234,13.75Z"
                      fill="#fff"/>
            </g>
        </svg>
    </div>
</template>

<script>
export default {
    name: "CountCart",
    computed: {
        countCart() {
            return this.$store.getters.countCart;
        }
    }
}
</script>

<style scoped>

</style>
