<template>
    <div class="container counter-digit px-0 w-100" >
        <div v-if="browser === 1" class="row no-gutters d-flex justify-content-between">
            <div class="col-auto text-right">
                <div class="w-100 digit">{{ days | two_digits }}</div>
                <div class="w-100 type">Days</div>
            </div>
            <div class="col-auto px-2">
                <div class="w-100 separator-dots"><span>:</span></div>
                <div></div>
            </div>
            <div class="col-auto text-right">
                <div class="w-100 digit">{{ hours | two_digits }}</div>
                <div class="w-100 type">Hours</div>
            </div>
            <div class="col-auto px-2">
                <div class="w-100 separator-dots"><span>:</span></div>
                <div></div>
            </div>
            <div class="col-auto text-right">
                <div class="w-100 digit">{{ minutes | two_digits }}</div>
                <div class="w-100 type">Minutes</div>
            </div>
            <div class="col-auto px-2">
                <div class="w-100 separator-dots"><span>:</span></div>
                <div></div>
            </div>
            <div class="col-auto text-right">
                <div class="w-100 digit">{{ seconds | two_digits }}</div>
                <div class="w-100 type">Seconds</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CountDown",
    mounted() {
        window.setInterval(() => {
            this.now = Math.trunc((new Date()).getTime() / 1000);
        },1000);
    },
    props: {
        date: {
            type: String
        }
    },
    data() {
        return {
            now: Math.trunc((new Date()).getTime() / 1000),
            browser: 1
        }
    },
    methods: {
      detectSafari(){
          var ua = navigator.userAgent.toLowerCase();
          if (ua.indexOf('safari') != -1) {
              if (ua.indexOf('chrome') > -1) {
                  this.browser = 1
              } else {
                  this.browser = 2
              }
          }
      }
    },
    computed: {
        dateInMilliseconds() {
            return Math.trunc(Date.parse(this.date) / 1000)
        },
        seconds() {
            return (this.dateInMilliseconds - this.now) % 60;
        },
        minutes() {
            return Math.trunc((this.dateInMilliseconds - this.now) / 60) % 60;
        },
        hours() {
            return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60) % 24;
        },
        days() {
            return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60 / 24);
        }
    }
}

Vue.filter('two_digits', (value) => {
    if (value < 0) {
        return '00';
    }
    if (value.toString().length <= 1) {
        return `0${value}`;
    }
    return value;
});
</script>

<style lang="scss" scoped>
.countdown{
    display: inline-block;
}

.counter-digit {
    max-width: 300px;
    .digit {
        color: #000;
        font-size: 48px;
        font-weight: bold;
        line-height: 50px;

    }

    .type {
        font-size: 11px;
        color: #9FA4AF;
        text-transform: uppercase;
    }

    .separator-dots {
        color: #B7B7B7;
        font-size: 24px;
        font-weight: bold;
        line-height: 46px;

    }
}
</style>
