<template>
    <span
        class="rounded-badge small text-white extrasmall bg-primary position-absolute mt-n2 ml-auto mr-n1 counter-cart-mobile">{{ countCart }}</span>
</template>

<script>
export default {
    name: "CountCartFooter",
    computed: {
        countCart() {
            return this.$store.getters.countCart;
        }
    }
}
</script>

<style scoped>

</style>
