<template>
        <div class="container">
                <div class="row position-relative">
                    <div class="col-12 mb-n2 mb-lg-0  text-center text-lg-left col-lg-auto produc-desc-slide-deal mx-auto mx-lg-0 justify-content-center">
                        <h1 class="text-primary font-weight-bold">Deal off the day</h1>
                        <p class="text-uppercase lh-200 py-0 my-0 normal mt-2">NESOS WHITE T-SHIRT SUMMER NEW</p>
                        <p class="text-uppercase lh-200 py-0 my-0 normal text-gray-800">350 MDL</p>
                        <div class="mt-2 mt-lg-5">
                            <a href="" class="text-uppercase ls-2 lh-200 font-weight-bold text-primary normal text-decoration-none">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="col-auto mt-n5 mt-lg-0 mx-auto mx-lg-0 bg-circle-slider-deal">
                        <img src="/images/cross-1x1.png" class="image-product-slide-deal">
                        
                    </div>
                    <div class="col-12 col-lg-auto count-slide-deal d-flex align-self-end justify-content-center px-0">
                        <count-down date="2021-04-06 08:15:00"></count-down>
                    </div>
                </div>
        </div>  
</template>

<script>
export default {
    name: "DealSliderItem",
    props: ['item']
}
</script>

<style lang="scss">
.bg-circle-slider-deal {
    background-image: url(/images/ellipse-circle-bg.svg);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-product-slide-deal {
    width: 100%;
    max-width: 430px;
    max-height: 430px;

}

.produc-desc-slide-deal {
    z-index: 10;
    @media (min-width: 992px) {
        margin-top: 65px;
        right: -120px;
        z-index: 10;
    }
}

.count-slide-deal {
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
        bottom: 0;
        left: 50%;
        margin-right: unset;
        margin-bottom: 48px;
        margin-left: 130px;
        z-index: 10;
        position: absolute;
        overflow: hidden;
    }
}

// .bg_img {
//     justify-content: center;
//     width: 590px;
//     height: 430px;
//     margin: 0 auto;

//     .main_img {
//         width: 100%;
//         object-fit: contain;
//         margin-top: 69px;
//     }

//     svg {
//         position: absolute;
//         top: 0%;
//         left: 12%;
//         z-index: -10;
//     }

//     .info_section {
//         position: absolute;
//         left: 100px;
//         top: 0;

//         .title {
//             margin-top: 69px;
//             margin-bottom: 13px;

//             span {
//                 font-size: 36px;
//                 font-weight: bold;
//                 color: #F6A43B;
//             }
//         }

//         .desc {
//             margin-bottom: 6px;

//             span {
//                 font-size: 12px;
//                 font-weight: 400;
//             }
//         }

//         .price_sec {
//             margin-bottom: 41px;

//             .price {
//                 font-size: 12px;
//                 font-weight: 400;
//             }

//             .valute {
//                 font-size: 12px;
//                 font-weight: 400;
//             }
//         }

//         .act_btn {
//             span {
//                 cursor: pointer;
//                 font-size: 12px;
//                 font-weight: bold;
//                 color: #F6A43B;

//                 &:hover {
//                     color: #cc8832;
//                 }
//             }
//         }
//     }

//     .counter {
//         position: absolute;
//         right: 70px;
//         bottom: 0;
//         overflow: hidden;

//         .counter_module {
//             display: grid;
//             grid-template-columns: 1fr 1fr 1fr 1fr;
//             grid-template-rows: 1fr 1fr;
//             grid-column-gap: 32px;
//             .block{
//                 display: grid;
//                 text-align: right;
//                 position: relative;
//                 .digit {
//                     font-size: 48px;
//                     font-weight: bold;
//                     color: black;
//                     max-height: 60px;
//                 }

//                 .text{
//                     font-size: 11px;
//                     font-weight: 400;
//                     color: #9FA4AF;
//                 }

//                 &::before{
//                     content: ":";
//                     position: absolute;
//                     top: 50%;
//                     right: -30px;
//                     transform: translate(-50%, -50%);
//                     font-size: 25px;
//                     font-weight: bold;
//                     color: #B7B7B7;
//                 }
//             }
//         }
//     }
// }
</style>
