<template>
<div class="container position-relative">
    <div class="row col-12 position-lg-absolute justify-content-between nav-slider-deal">
        <div class="nav-icon-long-left mx-lg-0 mt-lg-2" @click="showPrevDeal">
            <i class="el-icon-back"></i>
        </div>
        <div class="nav-icon-long-right mx-lg-0 mt-lg-2" @click="showNextDeal">
            <i class="el-icon-right"></i>
        </div>
    </div>
   <vue-slick-carousel class="row" v-bind="deal_slider" ref="dealslider">
       <div class="col-12" v-for="(item, index) in images" :loop="false" :key="index">
            <deal-slider-item :item="item"></deal-slider-item>
       </div>
   </vue-slick-carousel>
</div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: "DealSlider",
    components: {VueSlickCarousel},
    data() {
        return {
            images: ['/images/cross.png', '/images/cross.png', '/images/cross.png'],
            deal_slider: {
                arrows: false,
                dots: false,
            },
        }
    },
    methods: {
      showNextDeal() {
        this.$refs.dealslider.next()
      },
      showPrevDeal() {
        this.$refs.dealslider.prev()
      },
    },
}
</script>

<style lang="scss">

.nav-slider-deal {
    position: absolute;
    align-self: center;
    top: 50%;
    z-index: 100;

    .nav-icon-long-left,
    .nav-icon-long-right {
        width: 55px;
        height: 30px;
        transition: all 300ms ease-in-out;
        outline: none;
        padding: 0 !important;
        opacity: 1;
        border-radius: 15px;
        vertical-align: middle;
        text-align: center;

        margin-top: -15px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
        }

        i {
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
        }

        @media (min-width: 992px) {
            width: 70px;
        }
    }

    .nav-icon-long-left {
        background: #FFF;
        box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
        i {
            color: #B7B7B7;
        }
    }
    .nav-icon-long-right {
        background: #191817;
        i {
            color: #FFFFFF;
        }
    }

}
</style>
