<template>
    <div class="container slider mb-5 pb-5 mt-0 pt-4" v-if="images.length > 0">
        <div class="row">
            <div class="col-1 px-0 position-relative d-none d-lg-flex align-items-center">
                <!--                    <div class="catalog_name">Catalog</div>-->
            </div>
            <div class="col-10 mx-auto col-lg-10 px-0">
                <div class="d-flex d-lg-flex w-100 w-lg-auto position-lg-absolute justify-content-between flex-lg-column nav-slider-mob">
                    <div class="nav-icon-left mx-lg-0 mt-lg-2 order-1 order-lg-2" @click="showPrev">
                        <i class="el-icon-back"></i>
                    </div>
                    <div class="nav-icon-right mx-lg-0 mt-lg-2  order-2 order-lg-1" @click="showNext">
                        <i class="el-icon-right"></i>
                    </div>
                </div>
                <div>
                    <VueSlickCarousel ref="carousel">
                        <div v-for="(item, i) in images" :key="i" class="w-100"><img  class="w-100" :src="item.image" alt=""></div>
                    </VueSlickCarousel>
                </div>
            </div>
            <div class="col-1 px-0 d-none d-lg-flex align-items-center justify-content-end">
                <div class="phone_name">
                    <!--                        <div class="icon">-->
                    <!--                            <i class="fas fa-phone-alt text-white fa-md"></i>-->
                    <!--                        </div>-->
                    <span class="phone">
<!--                            <a href="tel:+(373) 67 744 799">+(373) 67 744 799</a>-->
                        </span>
                </div>
            </div>
        </div>


        <div class="footer_slider">
            <div class="socialite">
                <a href="https://www.facebook.com/dovishop.fashion" class="soc_item">Facebook</a>
                <a class="soc_item" href="https://www.instagram.com/dovi.shop_fashion/">Instagram</a>
                <a class="soc_item" href="https://wa.me/+37367744799">WhatsApp</a>
<!--                <a class="soc_item" href="https://www.tiktok.com/@dovi.shop">TIKTOK</a>-->
            </div>
        </div>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
name: "HomeSlider",
    components: {VueSlickCarousel},
    props: ['images'],
    data() {
        return {
            first_slider: {
                arrows: true,
                dots: false,
            },
        }
    },
    methods: {
        showNext() {
            this.$refs.carousel.next()
        },
        showPrev() {
            this.$refs.carousel.prev()
        },
    },
}
</script>

<style lang="scss" scoped>
@import "resources/sass/layout/index.scss";
</style>
