<template>
    <div class="section_popular_slider">
        <div class="section_title">
            <span>{{translation('Produse populare', 'Популярные товары')}}</span>
        </div>
        <div class="controls">
<!--            <div class="categories">-->
<!--                <span @click="changeCategory(0)" :class="{'active' : form.category === 0}">Toate</span>-->
<!--                <span @click="changeCategory(category.id)"-->
<!--                      :class="{'active' : form.category === category.id}"-->
<!--                      v-for="(category, index) in categories">{{ category.lang.name }}</span>-->
<!--                <span @click="changeCategory('shoes')"-->
<!--                      :class="{'active' : form.category == 'shoes'}">Incaltaminte</span>-->
<!--            </div>-->
<!--            <div class="btn_slider_control">-->

<!--            </div>-->
        </div>
        <carousel class="carousel_popular row"
                  :navigationEnabled="true"
                  :paginationEnabled="false"
                  :loop="true"
                  :scrollPerPage="false"
                  :autoplayHoverPause="true"
                  :autoplay="true"
                  :perPage="1"
                  :perPageCustom="[[576, 2], [992, 3]]"
                  navigationNextLabel="<i class='el-icon-right font-weight-bold'></i>"
                  navigationPrevLabel="<i class='el-icon-back font-weight-bold'></i>">
            <slide v-for="(item, index) in items"
                   :key="index"
                   class="col-12 col-sm-6 col-lg-4"
                   v-if="item.type === 'shoes'">
                <product-item-shoes :lang="lang"
                                    :item="item"></product-item-shoes>
            </slide>
            <slide v-for="(item, index) in items"
                   :key="index"
                   v-if="item.type == 1"
                   class="col-12 col-sm-6 col-lg-4">
                <product-item :item="item"></product-item>
            </slide>

        </carousel>
    </div>
</template>

<script>
export default {
    name: "PopularSlider",
    props: ['lang', 'course', 'categories'],
    data() {
        return {
            items: [],
            errors: [],
            form: {
                category: 0,
            }
        }
    },

    created() {
        this.get();
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
        changeCategory(value) {
            this.form.category = value;
            this.get()
        },
        get() {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            axios.post('/api/popular-slider',
                this.form, {headers}).then(response => {
                if (response.data.status === 200) {
                    this.items = response.data.items;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style lang="scss">
.section_popular_slider {
    position: relative;
    margin-bottom: 40px;

    .section_title {
        margin-bottom: 23px;

        span {
            font-size: 25px;
            font-weight: bold;
            @media (min-width: 992px) {
                font-size: 36px;
            }
        }
    }

    .controls {
        margin-bottom: 76px;

        .categories {
            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
            padding-bottom: 5px;
            @media (min-width: 992px) {
                float: left;
            }

            .active {
                color: #F6A43B;
                font-weight: bold;
            }

            span {
                margin-right: 20px;
                cursor: pointer;

                //&:hover {
                //    color: grey;
                //}

                @media (min-width: 992px) {
                    margin-right: 40px;
                }
            }
        }
    }

    .carousel_popular {
        position: unset;

        .VueCarousel-navigation {


            .VueCarousel-navigation-prev {
                left: 60px;
                width: 70px;
                height: 30px;
                border-radius: 15px;
                background: white;
                padding: 0 !important;
                opacity: 1;
                color: grey;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                outline: 0;
                box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);

                &:hover {
                    box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
                }

                @media (min-width: 992px) {
                    position: absolute;
                    top: 80px;
                    right: 20px;
                    left: inherit;
                    box-shadow: none;
                }
            }

            .VueCarousel-navigation-next {
                right: 60px;
                width: 70px;
                height: 30px;
                border-radius: 15px;
                background: #212529;
                padding: 0 !important;
                opacity: 1;
                color: white;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                outline: 0;

                &:hover {
                    box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
                }

                @media (min-width: 992px) {
                    position: absolute;
                    top: 80px;
                    right: 70px;
                    left: inherit;
                }
            }
        }

        .VueCarousel-slide {
            width: 320px;

        }

    }
}
</style>
