<template>
    <div class="item" :class="{'shadow_bloc' : detail}">
        <div class="img">
            <img :src="current_color.image" alt="">
        </div>
        <div class="label_item">
            <span :style="'color: red'">HOT</span>
        </div>
        <div class="menu">
            <div>
                <div class="colors" @click="detail = !detail">
                    <span>+ COLORS</span>
                </div>
                <div class="title" @click="goToProd(item)">
                    <span>{{ item.lang.name }}</span>
                </div>
                <div class="rate">
                    <el-rate :disabled="true" v-model="item.calc_rates"></el-rate>
                </div>
                <div class="price">
                    <span>$ {{ current_color.price }}</span>
                </div>
                <div class="desc" v-html="item.lang.description"></div>
            </div>

           <div>
               <div class="action_btns">
                   <div class="name">
                       <span>ADD TO CART</span>
                   </div>
                   <div class="icon_action">
                       <div class="favorite">
                           <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                               <text id="_" data-name="" transform="translate(0 15)" font-size="18"
                                     font-family="FontAwesome">
                                   <tspan x="0" y="0"></tspan>
                               </text>
                           </svg>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <transition name="fade">
            <div v-show="detail" class="action">
                <div class="close_icon_action" @click="detail = !detail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.02" height="8.02" viewBox="0 0 8.02 8.02">
                        <g id="button_close" data-name="button close" transform="translate(-1432.99 -2962.989)">
                            <path id="close_icon" data-name="close icon"
                                  d="M1437,2967.735l-3.274,3.274-.735-.735,3.274-3.275-3.274-3.275.735-.735,3.274,3.274,3.274-3.274.736.735-3.275,3.275,3.275,3.275-.736.735Z"/>
                        </g>
                    </svg>
                </div>
                <div class="options">
                    <div class="option_item" v-for="(color, index) in item.product_specifications" :key="index">
                        <img class="option_img" @click="current_color = color"
                             :class="{'item_active' : current_color.id === color.id}" :src="color.image" alt="">
                    </div>
                </div>
                <div class="section_action">
                    <div class="name">
                        <span>ADD TO CART</span>
                    </div>
                    <div class="icon_action">
                        <div class="favorite">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <text id="_" data-name="" transform="translate(0 15)" font-size="18"
                                      font-family="FontAwesome">
                                    <tspan x="0" y="0"></tspan>
                                </text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: "ProductItemInLine",
    props: ['item'],
    data() {
        return {
            detail: false,
            current_color: [],
        }
    },

    created() {
        this.current_color = this.item.product_specifications[0]
    },

    methods: {
        goToProd(item) {
            window.location.href = '/product/' + item.slug;
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    height: 460px;
    width: 100%;
    position: relative;
    background: #e8e8e8;
    margin: auto;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img {
        width: 240px;
        height: 460px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .colors {
            margin-bottom: 7px;
            cursor: pointer;

            span {
                color: #F6A43B;
                font-size: 11px;
                font-weight: 400;

                &:hover {
                    color: #cc8832;
                }
            }
        }

        .title {
            margin-bottom: 15px;
            span {
                color: #000;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .rate {
            margin-bottom: 24px;
        }

        .price {
            margin-bottom: 30px;
            span {
                font-size: 14px;
                color: #555555;
            }
        }

        .desc {
            font-size: 14px;
            font-weight: 400;
            color: #898989;
        }

        .action_btns{
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;

            .name {
                background: #F6A43B;
                padding: 7px 28px;
                border-radius: 30px;
                span {
                    font-size: 11px;
                    font-weight: 400;
                    color: #ffffff;
                    cursor: pointer;
                }

                &:hover {
                    background: #cc8832;
                }
            }

            .icon_action {
                display: flex;

                .favorite {
                    cursor: pointer;
                }
            }
        }
    }

    .action {
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 155px;

        .close_icon_action {
            position: absolute;
            top: 18px;
            right: 29px;
            cursor: pointer;

            &:hover {
                svg {
                    fill: grey;
                }
            }
        }

        .options {
            justify-content: center;
            display: flex;
            padding: 13px;

            .option_item {
                width: 40px;
                height: 50px;
                margin-right: 20px;

                .option_img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item_active {

            }

            .is-checked {
                .el-radio__label {
                    .option_img {
                        border: 1px solid;
                    }
                }

            }
        }

        .section_action {
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;

            .name {
                span {
                    font-size: 11px;
                    font-weight: bold;
                    color: #F6A43B;
                    cursor: pointer;

                    &:hover {
                        color: #cc8832;
                    }
                }
            }

            .icon_action {
                display: flex;

                .favorite {
                    cursor: pointer;
                }
            }
        }
    }


}

.item {
    transition: all .5s ease-in-out;

    &:hover {
        box-shadow: 0 7px 5px 3px #d0d0d0;
    }

    .label_item {
        position: absolute;
        top: 30px;
        left: 26px;
        transform: rotate(-90deg);

        span {
            font-size: 12px;
            font-weight: bold;
            line-height: 27px;
        }
    }
}

.shadow_bloc {
    box-shadow: 0 7px 5px 3px #d0d0d0;
    transition: all .5s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}
</style>
