<template>
    <div class="item shadow-sm--hover" :class="{'shadow-sm' : detail}">
        <div class="img" :style="'background: #f5f5f5;'" @click.prevent="goToProd(item)">
            <img v-if="item.image !== '' && item.image != null" :src="item.image.length > 0 ? '/storage/'+item.image[0] : ''" alt="">
        </div>
        <div class="label_item">
            <span :style="'color: red'" v-for="(label, index) in item.labels">{{ label.label.lang.name }}</span>
        </div>
        <div class="menu">
<!--            <div class="colors" @click="detail = !detail">-->
<!--                <span>+ COLORS</span>-->
<!--            </div>-->
            <div class="sizes custom-sbar">
                <div class="item_size" v-for="(it, index) in item.size" :key="index">{{it}}</div>
            </div>
            <div class="title text-uppercase" @click="goToProd(item)">
                <span class="text-uppercase font-weight-medium">#{{item.sku}}</span>
                <span class="text-uppercase font-weight-medium" v-if="item.category">{{ item.category.translations != null ? item.category.translations[lang] : item.category.name}}</span>
                <span class="font-weight-medium" v-if="item.color">{{ item.color.translations != null ? item.color.translations[lang] : item.color.name}}</span>

            </div>
            <div class="price font-weight-medium py-2">
                <span>{{ item.price.price }} {{item.price.valute}}</span>
            </div>
        </div>
        <transition name="fade">
            <div v-show="detail" class="action">
                <div class="close_icon_action" @click="detail = !detail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.02" height="8.02" viewBox="0 0 8.02 8.02">
                        <g id="button_close" data-name="button close" transform="translate(-1432.99 -2962.989)">
                            <path id="close_icon" data-name="close icon"
                                  d="M1437,2967.735l-3.274,3.274-.735-.735,3.274-3.275-3.274-3.275.735-.735,3.274,3.274,3.274-3.274.736.735-3.275,3.275,3.275,3.275-.736.735Z"/>
                        </g>
                    </svg>
                </div>
                <div class="options">
                    <div class="option_item" v-for="(color, index) in item.gallery_filter" :key="index">
                        <img class="option_img"
                             :src="color.url ? color.url : ''"
                             alt="">
                    </div>
                </div>
                <div class="section_action">
                    <div class="name">
                        <span>ADD TO CART</span>
                    </div>
                    <div class="icon_action">
                        <div class="favorite">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <text id="_" data-name="" transform="translate(0 15)" font-size="18"
                                      font-family="FontAwesome">
                                    <tspan x="0" y="0"></tspan>
                                </text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: "ProductItem",
    props: ['item', 'lang'],
    data() {
        return {
            detail: false,
            current_color: [],
        }
    },

    methods: {
        goToProd(item) {
            window.location.href = '/shoes/' + item.slug;
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    height: auto;
    width: 100%;
    position: relative;
    background: white;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
    @media (min-width: 992px) {
        height: 580px;
    }

    .img {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;

        @media (min-width: 360px) {
            height: 202px;
        }

        @media (min-width: 992px) {
            height: 450px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .menu {
        position: relative;
        padding: 0 10px;

        @media (min-width: 992px) {
            padding: 0 20px;
        }

        .sizes{
            display: flex;

            @media (min-width: 360px) {
                overflow-x: scroll;
                padding-bottom: 5px;
            }

            .item_size{
                border: 1px solid #eaeaea;
                background: #ffffff;
                color: #888888;
                font-size: 13px;
                font-weight: 300;
                border-radius: 4px;
                padding: 2px 6px;
                margin-right: 6px;
            }
        }

        .colors {
            margin-bottom: 7px;
            cursor: pointer;

            span {
                color: #F6A43B;
                font-size: 11px;
                font-weight: 400;

                &:hover {
                    color: #cc8832;
                }
            }
        }

        .title {
            span {
                color: #000;
                font-size: 12px;
                font-weight: 400;
            }
        }

        .price {
            span {
                font-size: 14px;
                color: #555555;
            }
        }
    }

    .action {
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 155px;

        .close_icon_action {
            position: absolute;
            top: 18px;
            right: 29px;
            cursor: pointer;

            &:hover {
                svg {
                    fill: grey;
                }
            }
        }

        .options {
            justify-content: center;
            display: flex;
            padding: 13px;

            .option_item {
                width: 40px;
                height: 50px;
                margin-right: 20px;

                .option_img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item_active {

            }

            .is-checked {
                .el-radio__label {
                    .option_img {
                        border: 1px solid;
                    }
                }

            }
        }

        .section_action {
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;

            .name {
                span {
                    font-size: 11px;
                    font-weight: bold;
                    color: #F6A43B;
                    cursor: pointer;

                    &:hover {
                        color: #cc8832;
                    }
                }
            }

            .icon_action {
                display: flex;

                .favorite {
                    cursor: pointer;
                }
            }
        }
    }


}

.item {
    transition: all .5s ease-in-out;

    .label_item {
        position: absolute;
        top: 30px;
        right: 26px;
        transform: rotate(-90deg);

        span {
            font-size: 12px;
            font-weight: bold;
            line-height: 27px;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}
</style>
