<template>
    <div class="search_group">
        <el-autocomplete
            v-model="state"
            :fetch-suggestions="querySearchAsync"
            placeholder="Căutare printre toate produsele"
            @select="handleSelect"
            value-key="name"
            :debounce="700"
            autocomplete="off"
            popperClass="el-autocomplete-suggestion--search-results"
            :popperOptions="optPop"
            class="el-autocomplete--search-bar-nav"
        >
            <i v-if="type === 'mobile'" class="el-icon-close el-input__icon text-black font-weight-bold"
            slot="suffix"  @click="$root.search_bar_mobile = !$root.search_bar_mobile">

            </i>
            <i v-else class="el-icon-close el-input__icon text-black font-weight-bold"
            slot="suffix"  @click="$root.search_bar = !$root.search_bar">

            </i>
            <template slot-scope="{ item }">
                <div class="row no-gutters py-2" @click="goToProduct(item)">
                    <div class="col-auto mx-4 mb-1">
                        <img v-if="item.image.url" :src="item.image.url" class="rounded" width="75" alt="">
                        <img v-else :src="'/storage/' + item.image[0]" class="rounded" width="75" alt="">
                        <img v-else :src="'/images/site/not-found-img.png'"  class="rounded" width="75" alt="">
                    </div>
                    <div class="col-auto flex-grow-1 align-self-center px-2">
                        <div class="title">
                            <p v-if="item.lang != null" class="font-weight-medium text-black lh-150 m-0">{{ item.lang.name }}</p>
                            <p v-else class="font-weight-medium text-black lh-150 m-0">{{ item.name }}</p>
                            <p class="normal font-weight-light text-gray-400 lh-150 m-0"># {{ item.sku }}</p>
                        </div>
                        <div class="desc">
                            <span v-if="item.desc != null">{{ item.lang.description | truncate(50, '...') }}</span>
                        </div>
                    </div>
                    <div class="col-auto font-weight-medium text-gray-dark pr-4 align-self-center" :style="'width: 100%; text-align: end;'">
                            <span v-if="item.price != null">{{ item.price.price }}</span>
                            <span  v-if="item.price != null" class="small">{{ item.price.valute }}</span>
                    </div>
                </div>
            </template>

        </el-autocomplete>
        <!-- <el-button @click="$root.search_bar = !$root.search_bar" class="close_btn_search" icon="el-icon-close"
                   circle></el-button> -->
    </div>
</template>

<script>
export default {
    name: "SearchBar",
    props: ['lang', 'course', 'type'],
    data() {
        return {
            state: '',
            result: [],
            timeout: null,
            category: 0,
            optPop:{
                visibleArrow: false
            },
        }
    },

    methods: {
        handleSelect(item) {
            console.log(item);
        },
        goToProduct(item) {
            if (item.type === 1){
                window.location.assign('/product/' + item.slug)
            }else{
                window.location.assign('/shoes/' + item.slug)
            }

        },

        querySearchAsync(queryString, cb) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            if (queryString.length >= 3) {
                $.getJSON("/axios/get-global-search/" + queryString + '/' + this.category, {
                        headers: headers
                    },
                    function (result) {
                        if (result.result.length > 0) {
                            cb(result.result);
                        } else {
                            cb(result.result);
                            this.$notify({
                                title: 'Atentie',
                                message: 'Nu sau gasit rezultate dupa cuvintele introduse',
                                type: 'warning',
                                position: 'bottom-right'
                            });
                        }


                    }.bind(this))
            } else {
                cb([]);
            }
        },
    }
}
</script>

<style lang="scss">
@import "resources/sass/variables.scss";
.el-autocomplete--search-bar-nav{
    .el-input{
        input{
            &::placeholder{
                color: #4e4e4e !important;
            }
        }
    }

}
.search_group {
    display: flex;
    justify-content: space-between;

    .el-autocomplete {
        width: 100%;
    }

    .close_btn_search {
        width: 45px;
        height: 45px;
    }
}

.item-not-found {
    min-height: 50px;
}

.item-search {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-template-areas: ". .";
    border-bottom: 1px solid #dee2e6 !important;

    .img {
        width: 75px;
        height: 75px;
        margin: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .grid {
        display: grid;

        .title {
            display: flex;
            color: #2f3640;

            span {
                display: inline-block;
                max-width: 350px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                font-weight: 700;
            }

            span:nth-child(2) {
                padding-left: 30px;
                position: relative;
                display: inline-block;
                color: #32926f;
            }
        }

        .desc {
            display: block;
            width: 620px;
            margin: 2px 0;
            padding-right: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {

            }
        }

        .price {
            span {
                font-size: 20px;
                font-weight: 700;
                color: $secondary;
            }
        }
    }
}

.icon_search {
    background-color: $primary;

    i {
        border-left: 1px solid #DCDFE6;
        color: white;
        padding: 8px;
        font-size: 16px;
        font-weight: 700;
        margin: 4px 0px;
    }
}

</style>
