<template>
    <div>
        <el-drawer
            title=""
            :visible.sync="$root.drawer"
            :with-header="false"
            direction="ltr"
            size="calc(100% - 52px)">
            <div class="container px-4 nav-sidemenu custom-sbar">
                <div class="row min-vh-100 no-gutters align-items-between">
                    <div class="row align-content-end">
                        <div class="col-12 d-flex pb-2 pt-3 justify-content-between">
                            <img src="/images/logo/logo_black.svg" height="77"/>
                            <button @click="$root.drawer = !$root.drawer"
                                    class="btn btn-icon-only btn-white btn-circle shadow-sm align-self-top">
                                <i class="el-icon-close h3"></i>
                            </button>
                        </div>
                        <div class="col-12 pt-3">
                            <ul class="list-unstyled font-weight-semibold text-uppercase lh-200 ls-1">
                                <li v-if="route !== 'index'">
                                    <a href="/" class="text-black hover-primary text-decoration-none">{{
                                            translation('Principala', 'Основной')
                                        }}</a>
                                </li>
                                <li v-if="route === 'index'">
                                    <span><i class="fas fa-caret-right mr-1 text-gray-400"></i></span>
                                    <span class="text-primary">{{ translation('Principala', 'Основной') }}</span>
                                </li>

                                <li v-if="route !== 'catalog'">
                                    <a href="/catalog" class="text-black hover-primary text-decoration-none">{{
                                            translation('Catalog', 'Каталог')
                                        }}</a>
                                </li>
                                <li v-if="route === 'catalog'">
                                    <span><i class="fas fa-caret-right mr-1 text-gray-400"></i></span>
                                    <span class="text-primary">{{ translation('Catalog', 'Каталог') }}</span>
                                </li>

                                <li v-if="route !== 'cart'">
                                    <a href="/cart" class="text-black hover-primary text-decoration-none">
                                        {{ translation('Cos de cumparaturi', 'Корзина') }}</a>
                                </li>
                                <li v-if="route === 'cart'">
                                    <span><i class="fas fa-caret-right mr-1 text-gray-400"></i></span>
                                    <span class="text-primary">{{ translation('Cos de cumparaturi', 'Корзина') }}</span>
                                </li>

                                <li v-if="route !== 'aboutUs'">
                                    <a href="/about-us" class="text-black hover-primary text-decoration-none">{{
                                            translation('Despre noi', 'О нас')
                                        }}</a>
                                </li>
                                <li v-if="route === 'aboutUs'">
                                    <span><i class="fas fa-caret-right mr-1 text-gray-400"></i></span>
                                    <span class="text-primary">{{ translation('Despre noi', 'О нас') }}</span>
                                </li>

                                <li v-if="route !== 'contact'">
                                    <a href="/contact" class="text-black hover-primary text-decoration-none">{{
                                            translation('Contacte', 'Контакты')
                                        }}</a>
                                </li>
                                <li v-if="route === 'contact'">
                                    <span><i class="fas fa-caret-right mr-1 text-gray-400"></i></span>
                                    <span class="text-primary">{{ translation('Contacte', 'Контакты') }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12" v-if="auth_check === true">
                            <a href="#"
                               @click.prevent="logout()"
                               class="btn btn-black rounded-pill text-uppercase py-0 px-4 ls-1 border-0 normal font-weight-bold"
                               role="button">{{ translation('Iesire din cont', 'Выйти') }}</a>
                            <!-- <a href="#" class="btn btn-primary rounded-pill text-white text-uppercase py-0 px-4 ls-1 border-0 normal font-weight-bold" role="button">LOG IN</a> -->
                        </div>
                    </div>
                    <div class="row align-content-end pt-4 mt-5 pb-5">
                        <div class="col-12 pb-5 text-gray-400 normal font-weight-semibold lh-200">
                            <p>info@dovi.shop</p>
                            <p>Chișinău, Moldova</p>
                        </div>
                        <div class="col-12 pb-4 normal  font-weight-semibold">
                            <a href="https://www.facebook.com/dovishop.fashion"
                               class="text-gray-400 mr-2 hover-text-through hover-black">Facebook</a>
                            <a class="text-gray-400 mr-2 hover-text-through hover-black"
                               href="https://www.instagram.com/dovi.shop_fashion/">Instagram</a>
                            <a class="text-gray-400 mr-2 hover-text-through hover-black"
                               href="https://wa.me/+37367744799">WhatsApp</a>
                        </div>
                        <div class="col-12">

                        </div>
                        <div class="col-12 pb-5 text-gray-400 font-weight-semibold normal">© 2021 DOVI.SHOP. All rights
                            reserved.
                        </div>
                    </div>
                </div>
            </div>
        </el-drawer>
    </div>
</template>

<script>
export default {
    name: "SideBar",
    props: ['lang', 'course', 'route', 'auth_check'],
    data() {
        return {
            token: '',
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },

        logout() {
            axios.post('/logout', {
                headers: this.token,
            }).then(response => {
                if (response.status === 204) {
                    window.location.href = window.location.href;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style lang="scss">
.el-drawer__open .el-drawer {
    max-width: 320px;
}

.nav-sidemenu {
    overflow-y: scroll;
    max-height: 100vh;
}
</style>
