<template>
    <div class="slider_pop_modal">
        <agile ref="main"
               class="slider_primary order-1 order-lg-2 mx-auto"
               :options="options1"
               :as-nav-for="asNavFor1">
            <div class="slider_primary_item slider_primary_item_modal"
                 :class="`slide--${index}`"
                 v-for="(img, index) in images"
                 :key="img.id">
                <img v-if="object === false" :src="'/storage/'+img">
                <img v-else :src="img.url">
            </div>
        </agile>
    </div>
</template>

<script>
import {VueAgile} from 'vue-agile'

export default {
    name: "SliderComponentModal",
    components: {
        agile: VueAgile
    },
    props: {
        images: {
            type: Array,
        },
        object: {
            type: Boolean,
            default: false,
        },
        active_item: {
            type: Number,
            default: 0
        },
        active: {
            type: Object,
        },
    },

    watch: {
        'active': {
            handler() {
                this.goToSlide(this.active.id)
            }
        },

        'active_item': {
            handler() {
                this.goToSlide(this.active_item)
            }
        }
    },

    data() {
        return {
            asNavFor1: [],
            asNavFor2: [],
            options1: {
                dots: false,
                fade: true,
                navButtons: false
            },

            options2: {
                autoplay: false,
                centerMode: true,
                dots: false,
                navButtons: false,
                infinite: true,
                slidesToShow: 3,
                rtl: false,
                responsive: [
                    {
                        breakpoint: 400,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3
                        }
                    },

                    {
                        breakpoint: 1000,
                        settings: {
                            navButtons: false
                        }
                    }
                ]

            },
        }
    },
    mounted() {
        this.asNavFor1.push(this.$refs.thumbnails)
        this.asNavFor2.push(this.$refs.main)
    },

    methods: {
        goToSlide(item) {
            let i = this.images.findIndex(x => x.id === item);
            this.$refs.main.goTo(i)
        }
    }
}
</script>

<style lang="scss" scoped>
.slider_primary_item_modal {
    height: calc(100vh - 100px) !important;
}
</style>
