<template>
    <div class="slider_product row">
        <agile ref="main"
               class="slider_primary order-1 order-lg-2 mx-auto"
               :options="options1"
               :as-nav-for="asNavFor1">
            <div class="slider_primary_item"
                 :class="`slide--${index}`"
                 v-for="(img, index) in images"
                 :key="img.id" @click="openModal(img)">
                <img v-if="object === false" :src="'/storage/'+img">
                <img v-else :src="img.url">
            </div>
        </agile>

        <agile ref="thumbnails"
               :class="'slider-thumb order-2 order-lg-1 d-xsm-block d-md-none'"
               :options="options2"
               :as-nav-for="asNavFor2">
            <div
                class="slider_thumb_item"
                :class="`slide--${index}`"
                v-for="(img, index) in images"
                :key="img.id"
                @click.prevent="$refs.thumbnails.goTo(index)"
            >
                <img v-if="object === false" :src="'/storage/'+img">
                <img v-else :src="img.url">
            </div>
        </agile>
        <div :class="'slider-thumb slider-thumb-custom order-2 order-lg-1 d-xsm-none d-md-block'">
            <div
                class="thumb-custom"
                :class="`slide--${index}`"
                v-for="(img, index) in images"
                :key="img.id"
                @click.prevent="$refs.thumbnails.goTo(index)"
            >
                <img v-if="object === false" :src="'/storage/'+img">
                <img v-else :src="img.url">
            </div>
        </div>
        <el-dialog
            top="0"
            append-to-body
            :lock-scroll="true"
            :visible.sync="dialogVisible"
            width="100%">
        <slider-component-modal :images="images" :active="active" :active_item="active_item" :object="object"/>
        </el-dialog>
    </div>
</template>

<script>
import {VueAgile} from 'vue-agile'
import SliderComponentModal from "./SliderComponentModal";

export default {
    name: "SliderComponent",
    components: {
        SliderComponentModal,
        agile: VueAgile
    },
    props: {
        images: {
            type: Array,
        },
        object: {
            type: Boolean,
            default: false,
        },
        active_item: {
            type: Number,
            default: 0
        }
    },

    watch: {
        'active_item': {
            handler() {
                if (this.active_item !== 0) {
                    this.goToSlide();
                }
            }
        }
    },

    data() {
        return {
            active: [],
            dialogVisible: false,
            asNavFor1: [],
            asNavFor2: [],
            options1: {
                dots: false,
                fade: true,
                navButtons: false
            },

            options2: {
                autoplay: false,
                centerMode: true,
                dots: false,
                navButtons: false,
                infinite: true,
                slidesToShow: 3,
                rtl: false,
                responsive: [
                    {
                        breakpoint: 400,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3
                        }
                    },

                    {
                        breakpoint: 1000,
                        settings: {
                            navButtons: false
                        }
                    }
                ]

            },
        }
    },
    mounted() {
        this.asNavFor1.push(this.$refs.thumbnails)
        this.asNavFor2.push(this.$refs.main)
    },

    methods: {
        openModal(img) {
            this.active = img;
            this.dialogVisible = !this.dialogVisible;
        },

        goToSlide() {
            let i = this.images.findIndex(x => x.id === this.active_item);
            this.$refs.thumbnails.goTo(i)
        }
    }
}
</script>

<style lang="sass">
*::-webkit-scrollbar
    width: 7px


/* Track */
*::-webkit-scrollbar-track
    background: #f1f1f1 !important

/* Handle */
*::-webkit-scrollbar-thumb
    background: #191918 !important

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover
    background: #777774 !important

.slider-thumb-custom
    max-height: 100%
    overflow: auto

.thumb-custom
    width: 100px !important
    height: 100px !important
    border-radius: 4px
    overflow: hidden
    margin-bottom: 5px
    border: 1px solid #F9F9F9
    cursor: pointer

.thumbnails
    margin: 0 -5px
    width: calc(100% + 10px)

// Basic VueAgile styles
.agile
    &__nav-button
        background: transparent
        border: none
        color: #ccc
        cursor: pointer
        font-size: 24px
        transition-duration: .3s

        .thumbnails &
            position: absolute
            top: 50%
            transform: translateY(-50%)

            &--prev
                left: -45px

            &--next
                right: -45px

        &:hover
            color: #888

    &__dot
        margin: 0 10px

        button
            background-color: #eee
            border: none
            border-radius: 50%
            cursor: pointer
            display: block
            height: 10px
            font-size: 0
            line-height: 0
            margin: 0
            padding: 0
            transition-duration: .3s
            width: 10px

        &--current,
        &:hover
            button
                background-color: #888

// Slides styles
.slide
    align-items: center
    box-sizing: border-box
    color: #fff
    display: flex
    height: 450px
    justify-content: center

    &--thumbniail
        cursor: pointer
        height: 100px
        padding: 0 5px
        transition: opacity .3s

        &:hover
            opacity: .75

    img
        height: 100%
        object-fit: cover
        object-position: center
        width: 100%
</style>
