.btn {
    &.btn-pill {
		border-radius: $border-radius-pill;
    }

    &.btn-circle {
        border-radius: $circle-radius;
    }
}
// Icons 
.btn-icon {
    display: inline-block;

    .btn-inner-icon:first-of-type {
        margin-right: .3rem;
    }
    .btn-inner-icon:last-of-type {
        margin-left: .3rem;
    }
}

.btn-icon-only {
    position: relative;
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
    padding: 0 !important;

    span, i {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }

    &a {
        line-height: 2.5;
    }

    &.btn-xs {
        width: 1.7rem;
        height: 1.7rem;
    }

    &.btn-sm {
        width: 2rem;
        height: 2rem;
    }
}

//Buttons sizes

.btn, .btn-group > .btn { 
    line-height: 1.5;
    height: 41px;
}

a.btn {
    line-height: 41px;
} 

.btn-lg, .btn-group-lg > .btn { 
    padding: 0 40px;
    font-size: 12px;
    line-height: 1.5;
    height: 35px;
    @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 1.5;
        height: 45px;
    }
}

a.btn.btn-lg {
    line-height: 45px;
} 

//Shop Mobile Button.
.btn-shop {
    background-color: $primary;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 72px;
    width: 72px;
    &:hover {
        color: $extra-lighter;
        text-decoration: none;
    }
}