<template>
    <div>
        <div class="row">
            <div class="col-12">
                <el-steps :active="active">
                    <el-step title="Step 1" description="Product information"></el-step>
                    <el-step title="Step 2" description="Gallery"></el-step>
                    <el-step title="Step 3" description="Specification"></el-step>
                    <!--                    <el-step title="Step 4" description="Config"></el-step>-->
                </el-steps>
            </div>
        </div>
        <div class="row content">
            <div class="col-12" v-if="active === 0">
                <Information
                    :model="model"
                    :categories="categories"
                    :furnizor="furnizor"
                    :labels="labels"
                    :langs="langs"/>
            </div>
            <div class="col-12" v-if="active === 1">
                <Gallery :product_id="product_id"/>
            </div>
            <div class="col-12" v-if="active === 2">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Specification</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <Specification :model="model"
                                       :product_id="product_id"
                                       :specification="specification"/>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="active === 3">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Config</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <Config :product_id="product_id"
                                :specification="specification"
                                :model_step_three="model_step_three"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";
import Information from "./products/Information";
import Gallery from "./products/Gallery";
import Specification from "./products/Specification";
import Config from "./products/Config";

export default {
    name: "CreateNewProduct",
    props: [
        'model',
        'langs',
        'lang',
        'action',
        'categories',
        'specifications',
        'lastproductid',
        'offertypes',
        'furnizor',
        'labels'],
    components: {
        Config,
        Specification,
        Gallery,
        Information,
        VueEditor
    },
    data() {
        return {
            active: 0,
            dialogImageUrl: '',
            dialogVisible: false,
            fileList: [],
            token: '',
            product: [],
            product_id: '',
            specification: [],
            model_step_three: [],

            //old
            errors: [],
            groupedSpecs: '',
            spec: [],
            form: {
                meta_name: {
                    ro: '',
                    ru: '',
                },

                meta_description: {
                    ro: '',
                    ru: '',
                },

                product_name: {
                    ro: '',
                    ru: '',
                },

                description: {
                    ro: '',
                    ru: ''
                },

                delivery: {
                    ro: '',
                    ru: ''
                },

                mounting: {
                    ro: '',
                    ru: ''
                },

                returning: {
                    ro: '',
                    ru: ''
                },
            }
        }
    },

    created() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
        this.generateDescription();
    },

    methods: {
        next() {
            if (this.active++ > 2) this.active = 0;
        },


        //old

        setCategories(e) {
            console.log(e);
        },

        addAtribute(index) {
            this.form.sp[index].specs.push({
                specs: '',
                sub_specs: '',
                data_sub_specs: [],
            })
        },

        spliceAtribute(index, i) {
            this.form.sp[index].specs.splice(i, 1);
            this.form.sp[index].selectedAttribute.splice(i, 1);
        },

        skuNumber() {
            return this.lastproductid + 1;
        },

        getGroupedSpecsName() {
            let form = {
                'form': this.form.sp,
            }
            axios.post('/admin/products/specsGrouped', form).then(response => {
                if (response.status === 200) {
                    this.groupedSpecs = response.data.specs;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        setSpec(index, i) {
            // axios.post('http://' + window.location.hostname + '/admin/products/specs', this.form.sp[index].specs[i]).then(response => {
            axios.post('/axios/products/specs', this.form.sp[index].specs[i]).then(response => {
                if (response.status === 200) {
                    this.form.sp[index].specs[i].data_sub_specs = response.data.specs;
                    this.form.sp[index].selectedAttribute.splice(i, 1, this.form.sp[index].specs[i].specs);
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        pushSpec() {
            this.form.sp.push({
                spec_sku: '',
                selectedAttribute: [],
                specs: [{
                    specs: '',
                    sub_specs: '',
                    data_sub_specs: [],
                }],
                // specs: this.form.sp[0].specs,
                image: '',
                price: '',
            })
        },

        copySpec(index, i) {
            let xxx = JSON.parse(JSON.stringify(this.form.sp[0].specs))
            // let xxx = this.form.sp[0].specs;
            // this.form.sp.splice(index, 1, xxx);
            // this.form.sp[index].selectedAttribute = this.form.sp[0].selectedAttribute;
            // this.form.sp[index].specs = [];
            this.form.sp[index].specs = [...xxx];

            // this.form.sp.push({
            //     specs: ...xxx,
            // });
        },

        delSpec(index) {
            this.form.sp.splice(index, 1);
        },

        generateDescription() {

            let text = '';
            text = '';
            this.form.description.ro = text
            return text;
        },

        submitProduct() {
            axios.post('/admin/products/store', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Product saved with success!',
                        type: 'success'
                    });
                    window.location.href = '/admin/products/show/' + response.data.prod_id;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        // getAttributes() {
        //     let a = this.form.category.find(item => item.id === this.form.category_id);
        //     if (a === undefined) {
        //         this.spec = [];
        //     } else {
        //         this.spec = a.attrib;
        //     }
        //
        // }

    },

    computed: {
        setSpecName() {
            let name = '';

            return 'test'
        },
    }
}
</script>

<style lang="scss" scoped>

.btn_absolute {
    position: absolute;
    top: -38px;
    right: 0;
}

.preload-img {
    width: 100px;
    height: auto;
}

.checkbox_group {
    display: grid;

    .el-checkbox {
        margin-left: 0 !important;
        width: 100%;
    }
}

//.group-shad {
//    box-shadow: 0px 0px 5px 2px #a6a8b1ad;
//    border-radius: 4px;
//}
</style>
