<template>
    <div>
        <a href="" @click.prevent="dialogVisible = !dialogVisible" class="btn btn-sm btn-info  mr-4 ">Set Attributes</a>
        <el-dialog
            title="Attributes"
            :visible.sync="dialogVisible"
            width="30%">
            <el-select v-model="attributes" multiple placeholder="Select">
                <el-option
                    v-for="(item, i) in specifications"
                    :key="i"
                    :label="item.lang.name"
                    :value="item.id">
                </el-option>
            </el-select>
            <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="saveAtribute()">Save</el-button>
  </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: "CreateAttributes",

    props: ['category_id', 'specifications', 'selected'],

    data() {
        return {
            dialogVisible: false,
            attributes: [],

        }
    },

    created() {
        this.parent_id = this.category_id;
        for (var i = 0; i < this.selected.length; i++) this.selected[i] = parseInt(this.selected[i], 10);
        for (var ii = 0; i < this.attributes.length; ii++) this.attributes[ii] = parseInt(this.attributes[ii], 10);
        this.attributes = this.selected;
    },


    methods: {
        checkIfInArray(id){
            return this.selected.includes(id);
        },

        saveAtribute() {
            let form = {
                'attributes': this.attributes,
                'category_id': this.category_id,
            }
            axios.post('/axios/category/store-atributes', form).then(response => {
                if (response.status === 200) {
                    this.dialogVisible = false;

                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
