<template>
    <div>
        <div class="row">
            <div class="col-xl-8 order-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">

                            <div class="card" v-for="(lang, index) in langs" :key="index">
                                <div class="card-header" :id="'heading'+index">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" :data-target="'#collapse'+index"
                                                aria-expanded="true" :aria-controls="'collapse'+index">
                                            Text spre completare - [{{ lang.name }}]
                                        </button>
                                    </h2>
                                </div>
                                <div :id="'collapse'+index"
                                     class="collapse"
                                     :class="index === lang ? 'show' : ''"
                                     :aria-labelledby="'heading'+index"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username1">Name
                                                            [{{ index }}]</label>
                                                        <el-input id="input-username1" placeholder="Name"
                                                                  v-model="form.product_name[`${index}`]"></el-input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username1">Meta
                                                            name
                                                            [{{ index }}]</label>
                                                        <el-input id="input-username1" placeholder="Meta name"
                                                                  v-model="form.meta_name[`${index}`]"></el-input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username1">Meta
                                                            description
                                                            [{{ index }}]</label>
                                                        <el-input id="input-username1" placeholder="Meta description"
                                                                  v-model="form.meta_description[`${index}`]"></el-input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Descriere
                                                        [{{ index }}]</h6>
                                                    <vue-editor v-model="form.description[`${index}`]"></vue-editor>
                                                </div>
                                                <hr>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Livrare
                                                        [{{ index }}]</h6>
                                                    <vue-editor v-model="form.delivery[`${index}`]"></vue-editor>
                                                </div>
                                                <hr>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Montare
                                                        [{{ index }}]</h6>
                                                    <vue-editor v-model="form.mounting[`${index}`]"></vue-editor>
                                                </div>
                                                <hr>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Returnare
                                                        [{{ index }}]</h6>
                                                    <vue-editor v-model="form.returning[`${index}`]"></vue-editor>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-12">
                <div class="mb-4 card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Specification</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!--                            <div class="col-lg-12">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label class="form-control-label" for="input-username12">Pret de reducere</label>-->
                            <!--                                    <el-input id="input-username12" placeholder="Price" v-model="form.price"></el-input>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username12">Tip oferta</label>
                                    <div class="checkbox_group">
                                        <el-checkbox v-model="form.offer_type_id.promotie" label="Produse la promotie"
                                                     border size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.populare" label="Produse populare"
                                                     border size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.noi" label="Produse noi" border
                                                     size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.credit_zero" label="Credit zero" border
                                                     size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.no_stock" label="Nu este in stock"
                                                     border
                                                     size="medium"></el-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label :for="'exampleFormControlSelect22'">Labels</label>
                                    <el-select filterable :id="'exampleFormControlSelect22'"
                                               v-model="form.labels"
                                               placeholder="Conditii"
                                               multiple>
                                        <el-option
                                            v-for="(fur, ii) in labels"
                                            :key="ii"
                                            :label="fur.lang.name"
                                            :value="fur.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label :for="'exampleFormControlSelect22'">Furnizori</label>
                                    <el-select filterable :id="'exampleFormControlSelect22'"
                                               v-model="form.furnizor_id"
                                               placeholder="Furnizor">
                                        <el-option
                                            v-for="(fur, ii) in furnizor"
                                            :key="ii"
                                            :label="fur.name"
                                            :value="fur.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label for="exampleFormControlSelect10">Category</label>
                                    <el-select filterable @change="form.category_id = 0; getCat()"
                                               id="exampleFormControlSelect10"
                                               v-model="form.category"
                                               placeholder="Select">
                                        <el-option
                                            v-for="(category, i) in categories"
                                            :key="i"
                                            :label="category.lang.name"
                                            :value="category.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12" v-if="cat.length > 0">
                                <div class="form-group" :style="'display: grid'">
                                    <label for="exampleFormControlSelect101">Subacategory</label>
                                    <el-select filterable id="exampleFormControlSelect101" v-model="form.category_id"
                                               placeholder="Select">
                                        <el-option
                                            v-for="(category, i) in cat"
                                            :key="i"
                                            :label="category.lang.name"
                                            :value="category.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <button @click="submitProduct" type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                <el-alert
                    class="mb-1"
                    v-for="(err, index) in errors"
                    :key="index"
                    :title="index +' required!'"
                    type="error">
                </el-alert>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 order-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Specification</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row group-shad mb-4 p-3" v-for="(sp, index) in form.sp" :key="index">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Pret vinzare</label>
                                            <el-input placeholder="Price" v-model="sp.price"></el-input>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Products sku</label>
                                            <el-input placeholder="SKU" v-model="sp.spec_sku"></el-input>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Pret
                                                cumparare</label>
                                            <el-input placeholder="Price" v-model="sp.price_buing"></el-input>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="form-control-label" for="input-image">Imagine</label>
                                        <div class="form-group el-input el-input-group">
                                            <input id="input-image" type="file" name="fileFF"
                                                   v-on:change="uploadImage($event, index)">
                                            <img class="preload-img" :src="sp.image" alt="">
                                            <!--                        <img class="puls" src="/img/upload.svg" alt="">-->
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-3 d-block" v-if="sp.id">
                                        <label for="gallery">Galerie</label>
                                        <el-upload
                                            :headers="{ 'X-CSRF-TOKEN': token }"
                                            :action="'/axios/products/product_gallery/'+ sp.id + '/' + index"
                                            :on-remove="handleRemove"
                                            :on-success="handleAvatarSuccess"
                                            :file-list="sp.fileList"
                                            :file-list.sync="sp.fileList"
                                            multiple
                                            list-type="picture-card">
                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                        <el-dialog :visible.sync="dialogVisible">
                                            <img width="100%" :src="dialogImageUrl" alt="">
                                        </el-dialog>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row" v-for="(attribute, i) in sp.specs" :key="i">
                                    <div class="col-lg-5">
                                        <div class="form-group" :style="'display: grid'">
                                            <label :for="'exampleFormControlSelect2'+i">Atribute</label>
                                            <el-select filterable :id="'exampleFormControlSelect2'+i"
                                                       v-model="attribute.specs"
                                                       placeholder="Specification"
                                                       @change="setSpec(index, i)">
                                                <el-option
                                                    :disabled="sp.selectedAttribute.includes(spec.atribute.id)"
                                                    v-for="(spec, i) in spec"
                                                    :key="i"
                                                    :label="spec.atribute.lang.name"
                                                    :value="spec.atribute.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group" :style="'display: grid'">
                                            <label :for="'exampleFormControlSelect3'+i">Specification</label>
                                            <el-select filterable :id="'exampleFormControlSelect3'+i"
                                                       v-model="attribute.sub_specs"
                                                       placeholder="Specification">
                                                <el-option
                                                    v-for="(spe, ind) in attribute.data_sub_specs"
                                                    :key="ind"
                                                    :label="spe.lang.name"
                                                    :value="spe.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 m-auto d-flex">
                                        <el-button @click="addAtribute(index)" type="primary" icon="el-icon-plus"
                                                   circle></el-button>
                                        <el-button @click="spliceAtribute(index, i)" type="primary" v-if="i > 0"
                                                   icon="el-icon-minus" circle></el-button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 d-flex mb-2">
                                <el-button class="w-100" v-if="index >= 0" @click="pushSpec"><i
                                    class="el-icon-plus"></i>
                                </el-button>
                                <el-button class="w-100" v-if="index > 0" @click="delSpec(index)"><i
                                    class="el-icon-minus"></i>
                                </el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";

export default {
    name: "EditProduct",
    props: ['model', 'langs', 'lang', 'action', 'categories', 'specifications', 'lastproductid', 'offertypes',
        'parent_category', 'furnizor', 'labels'],

    components: {
        VueEditor
    },

    data() {
        return {
            dialogImageUrl: '',
            dialogVisible: false,
            token: '',

            cat: [],
            errors: [],
            spec: [],
            groupedSpecs: '',
            form: {
                furnizor_id: '',
                product_id: 0,
                sp: [],

                meta_name: {
                    ro: '',
                    ru: '',
                },

                meta_description: {
                    ro: '',
                    ru: '',
                },

                product_name: {
                    ro: '',
                    ru: '',
                },
                description: {
                    ro: '',
                    ru: ''
                },

                delivery: {
                    ro: '',
                    ru: ''
                },

                mounting: {
                    ro: '',
                    ru: ''
                },

                returning: {
                    ro: '',
                    ru: ''
                },
                labels: [],
                category: 0,
                category_id: 0,
                offer_type_id: {
                    promotie: false,
                    populare: false,
                    noi: false,
                    credit_zero: false,
                    no_stock: false,
                },
                price: '',
            }
        }
    },

    watch: {
        'form.sp': {
            handler() {
                // this.getGroupedSpecsName();

            },
            deep: true,
        },

        groupedSpecs: {
            handler() {
                this.generateDescription();
            }
        }

    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    created() {
        this.generateDescription();
        this.setData();
        this.setSpecsForeach();
        this.getCat();


    },

    methods: {
        handleAvatarSuccess(res, file) {
            this.form.sp[res.index].fileList = file.response.fileList;
            // window.location.href = window.location.href;
            this.getGallery(res.index);
        },

        handleRemove(file) {
            axios.post('/axios/products/del_product_gallery', file).then(response => {
                if (response.status === 200) {

                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        getGallery(index){
            axios.post('/axios/products/get-gallery/'+this.form.sp[index].id+'/'+index).then(response => {
                if (response.status === 200) {
                    this.form.sp[index].fileList = response.data.fileList;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        setData() {
            for (var i = 0; i < this.model.pluck_label.length; i++) this.model.pluck_label[i] = parseInt(this.model.pluck_label[i], 10);
            this.form = {
                product_id: this.model.id,
                sp: [],
                product_name: {
                    ro: this.model.trans_many[0].name,
                    ru: this.model.trans_many[1].name,
                },

                meta_name: {
                    ro: this.model.trans_many[0].meta_name,
                    ru: this.model.trans_many[1].meta_name,
                },

                meta_description: {
                    ro: this.model.trans_many[0].meta_description,
                    ru: this.model.trans_many[1].meta_description,
                },
                description: {
                    ro: this.model.trans_many[0].description,
                    ru: this.model.trans_many[1].description,
                },
                delivery: {
                    ro: this.model.trans_many[0].delivery,
                    ru: this.model.trans_many[1].delivery,
                },

                mounting: {
                    ro: this.model.trans_many[0].mounting,
                    ru: this.model.trans_many[1].mounting,
                },

                returning: {
                    ro: this.model.trans_many[0].returning,
                    ru: this.model.trans_many[1].returning,
                },
                labels: this.model.pluck_label,
                furnizor_id: parseInt(this.model.furnizor_id),
                category_id: parseInt(this.model.category_id),
                category: parseInt(this.parent_category.id),
                offer_type_id: {
                    promotie: parseInt(this.model.offer_type_promotie) === 1 ? true : false,
                    populare: parseInt(this.model.offer_type_populare) === 1 ? true : false,
                    noi: parseInt(this.model.offer_type_new) === 1 ? true : false,
                    credit_zero: parseInt(this.model.credit_zero) === 1 ? true : false,
                    no_stock: parseInt(this.model.no_stock) === 1 ? true : false,
                },
                price: this.model.price,
            }

            if (this.model.product_specifications.length === 0) {
                this.form.sp = [{
                    id: '',
                    spec_sku: '',
                    selectedAttribute: [],
                    fileList: [],
                    specs: [{
                        specs: '',
                        sub_specs: '',
                        data_sub_specs: [],
                    }],
                    image: '',
                    price: '',
                    price_buing: '',
                }]
            }
        },

        setSpecsForeach() {
            if (this.model.product_specifications.length > 0) {
                this.model.product_specifications.forEach((item, index) => {
                    this.form.sp.push({
                        id: item.id,
                        spec_sku: item.sku,
                        selectedAttribute: [],
                        fileList: item.galleries,
                        specs: [{
                            specs: '',
                            sub_specs: '',
                            data_sub_specs: [],
                        }],
                        image: item.image,
                        price: item.price,
                        price_buing: item.price_buing,
                    });

                });

                this.model.product_specifications.forEach((item, index) => {
                    item.prod_specs.forEach((ite, i) => {
                        // console.log(ite.attribute_id);
                        this.form.sp[index].specs.splice(i, 1, {
                            specs: parseInt(ite.attribute_id),
                            sub_specs: parseInt(ite.specification_id),
                        })
                        // this.form.sp[index].specs.splice(i, 1, ite.attribute_id);
                        // this.form.sp[index].specs.splice(i, 1, ite.specification_id);
                        this.setSpec(index, i);
                    });
                });
            }
        },

        getCat() {
            let data = {
                category_id: this.form.category,
            }
            axios.post('/axios/products/get-cat', data).then(response => {
                if (response.status === 200) {
                    this.cat = response.data.childs;
                    this.getAttributes();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        setSpec(index, i) {
            axios.post('/axios/products/specs', this.form.sp[index].specs[i]).then(response => {
                if (response.status === 200) {

                    this.form.sp[index].specs[i].data_sub_specs = response.data.specs;
                    this.form.sp[index].selectedAttribute.splice(i, 1, this.form.sp[index].specs[i].specs);

                    // this.form.sp[index].specs.data_sub_specs.splice(i, 1, response.data.specs);


                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        addAtribute(index) {
            this.form.sp[index].specs.push({
                specs: '',
                sub_specs: '',
                data_sub_specs: [],
            })
        },

        spliceAtribute(index, i) {
            this.form.sp[index].specs.splice(i, 1);
        },

        skuNumber() {
            return this.lastproductid + 1;
        },

        getGroupedSpecsName() {
            let form = {
                'form': this.form.sp,
            }
            axios.post('/admin/products/specsGrouped', form).then(response => {
                if (response.status === 200) {
                    this.groupedSpecs = response.data.specs;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        uploadImage(e, selectedIndex) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0], selectedIndex);
        },

        createImage(file, index) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                // vm.image_preview = e.target.result;
                vm.form.sp[index].image = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        pushSpec() {
            this.form.sp.push({
                spec_sku: '',
                selectedAttribute: [],
                specs: [{
                    specs: '',
                    sub_specs: '',
                    data_sub_specs: [],
                }],
                image: '',
                price: '',
            })
        },

        delSpec(index) {
            this.form.sp.splice(index, 1);
        },

        generateDescription() {

            let text = '';
            text = '';
            this.form.description.ro = text
            return text;
        },

        submitProduct() {
            axios.post('/admin/products/update', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Product saved with success!',
                        type: 'success'
                    });
                    window.location.href = window.location.href;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        getAttributes() {
            let a = this.cat.find(item => item.id === this.form.category_id);
            if (a === undefined) {
                this.spec = [];
            } else {
                this.spec = a.attrib;
            }

        }

    },

    computed: {
        setSpecName() {
            let name = '';

            return 'test'
        },
    }
}
</script>

<style lang="scss" scoped>
.preload-img {
    width: 100px;
    height: auto;
}

.checkbox_group {
    display: grid;

    .el-checkbox {
        margin-left: 0 !important;
        width: 100%;
    }
}

//.group-shad {
//    box-shadow: 0px 0px 5px 2px #a6a8b1ad;
//    border-radius: 4px;
//}
</style>
