.custom-control {
  position: relative;
  display: block;
  min-height: $font-size-base * $line-height-base;
  padding-left: $custom-control-gutter + $custom-control-indicator-size;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: $custom-control-spacer-x;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  width: $custom-control-indicator-size;
  height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
  opacity: 0;

  &:checked ~ .custom-control-label::before {
    background-color: #FFF;
    color: $custom-control-indicator-checked-color;
    border-color: $custom-control-indicator-checked-border-color;
  }

  &:focus ~ .custom-control-label::before {
    // the mixin is not used here to make sure there is feedback
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $custom-control-indicator-focus-box-shadow;
    }
  }

  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $custom-control-indicator-focus-border-color;
  }

  &:not(:disabled):active ~ .custom-control-label::before {
    color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    border-color: $custom-control-indicator-active-border-color;
    @include box-shadow($custom-control-indicator-active-box-shadow);
  }

  // Use [disabled] and :disabled to work around https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .custom-control-label {
      color: $custom-control-label-disabled-color;

      &::before {
        background-color: #fff;
      }
    }
  }
}



// Custom control indicators
//
// Build the custom controls out of pseudo-elements.

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  color: $custom-control-label-color;
  vertical-align: top;
  cursor: pointer;

  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: $custom-control-indicator-border-color solid 1px ;//solid $custom-control-indicator-border-width;
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: (($font-size-base * $line-height-base - ($custom-control-indicator-size / 2)) / 2);
    left:  -($custom-control-gutter + $custom-control-indicator-size) + (($custom-control-indicator-size / 2)/2);
    display: block;
    width: ($custom-control-indicator-size / 2);
    height: ($custom-control-indicator-size / 2); 
    content: "";
  }
}


// Radios
//
// Tweak just a few things for radios.

.custom-radio {
  .custom-control-label::before {
    // stylelint-disable-next-line property-blacklist
    background-color: #FFF; 
    border-radius: $custom-radio-indicator-border-radius;
  }

  .custom-control-input ~ .custom-control-label { 
    &:hover {
      &::after {
        background-color: $primary;
        border-radius: $custom-radio-indicator-border-radius;
        opacity: 0.5; 
      }
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $primary; 
      border-radius: $custom-radio-indicator-border-radius;
      background-image: none
    } 
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      background-color: #fff;
    }
  }
}

