.form-control {
    font-size: 14px;//$input-btn-font-size;
    border-width: 0;
    // @include transition($transition-ease-in-out);
    height: 45px;//calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border * 2.5});
    
    &::placeholder {
        color: $gray-400; //$input-focus-placeholder-color;
    }

    &:focus {
        box-shadow: 0 0 0 0;
    }

    // &:focus {
    //     &::placeholder {
    //         color: $gray-400; //$input-focus-placeholder-color;
    //     }
    // }

    &.form-control-extra-lighter {
        background-color: $extra-lighter;
        &::placeholder {
            color: $gray-700;
        }
    }
}



.form-control-lg{
  height: 45px; //calc(#{$input-line-height * 1.5em} + #{$input-padding-y * 2} + #{$input-height-border * 2.5});

}

// .form-control-sm{
//   height:  ;//calc(#{$input-line-height * .3em} + #{$input-padding-y * 2} + #{$input-height-border * 2.5});

// }

// Form control flush
// Removes borders and paddings from inputs and text areas

.form-control-flush {
    padding: 0;
    border-width: 0;
    background-color: transparent;
    box-shadow: none;

    &:focus {
        background-color: transparent;
        box-shadow: none;
        border-width: 0;
    }
} 

.form-control{
    &.border-bottom:focus {
        border-bottom: 1px solid #000000 !important;
    }
}


.form-textarea-no-resize {
    resize: none;
}