.rounded-badge {
    display: inline-block;
    border-radius: 50%;

    height: 41px;
    width: 41px;
    line-height: 41px;

    &.large {
        height: 45px;
        width: 45px;
        line-height: 45px;
    }

    &.small {
        height: 18px;
        width: 18px;
        line-height: 18px;
    }
}

.counter-cart-mobile {
    right: calc(50% - 18px);
    z-index: 0;
}
// .style="right: 35%; z-index: 0;"