// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$gray-100: #F6F7FB;
$gray-200: #FAFAFA;
$gray-300: #EBEBEB;
$gray-400: #9FA4AF;
$gray-600: #898989;
$gray-700: #7D7D7D;
$gray-800: #555555;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$primary: #191817;
$secondary:     $gray-600 !default;



$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-300 !default;
$lighter:       $gray-200 !default;
$extra-lighter: $gray-100 !default;
$dark:          $gray-600 !default;
$catskillwhite: #EEF4F7 !default;

// $theme-colors: () !default;
$theme-colors:(
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "lighter":    $lighter,
    "extra-lighter":   $extra-lighter,
    "dark":       $dark,
    "black":      $black,
    "gray-400":   $gray-400,
    "gray-700":   $gray-700,
    "gray-800":   $gray-800
  );


  // Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  xsm: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xsm: 360px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// @include _assert-ascending($container-max-widths, "$container-max-widths");

//components
$border-radius-pill:           2rem;
$circle-radius:                50%;
$organic-radius:               63% 37% 30% 70% / 50% 45% 55% 50%;


$box-shadow-sm:               0 .125rem .25rem rgba(0, 0, 38, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba(0, 0, 38, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba(0, 0, 38, .175) !default;

//font size
$enable-responsive-font-sizes: true;
$font-size-xs: 0.563rem;
$font-size-normal: .75rem;
$font-size-medium: 1rem;
$font-size-large: 1.313rem;

//utilities
$custom-control-indicator-checked-border-color: #B7B7B7;

