// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Vendor
@import "vendor";

//mixins and functions
@import "mixins/transform";

// Rebot
@import 'rebot';



//BUTTONS
@import 'components/buttons/buttons';

//BADGES
@import 'components/badge/rounded-badge';

//FORMS
@import 'components/forms/form';
@import 'components/forms/custom-forms';

@import 'components/breadcrumbs/breadcrumbs';

@import 'utilities/borders';
@import 'utilities/sizing';
@import 'utilities/shadow';
@import 'utilities/text';


// CART
@import 'components/cart/cart';


//LAYOUT
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/scrollbar';

[v-cloak] > * {
    display: none;
}

.main_bloor {
    filter: blur(4px);
}

[v-cloak]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    z-index: 99999999999999;
    background-image: url('/images/loader.gif');
}

#catalog_categories_page{
    .img{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 420px) {
    #catalog_categories_page{
        .img{
            width: 150px;
            height: 150px;
        }
    }
    .mobile_size-page_name{
        font-size: 17px;
    }
}
