<template>
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-12 col-lg-4 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">FIRST NAME</label>
                <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
            <div class="col-12  col-lg-4 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">LAST NAME</label>
                <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
            <div class="col-12  col-lg-4 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">COMPANY NAME</label>
                <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12  col-lg-12 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">ADDRESS</label>                            </label>
                <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12  col-lg-12 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">CITY / TOWN</label>                            </label>
                <input type="text" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12  col-lg-4 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">PASSWORD</label>
                <input type="password" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
            <div class="col-12  col-lg-4 mt-2 mb-3">
                <label class="form-label font-weight-medium text-secondary">NEW PASSWORD</label>
                <input type="password" class="form-control form-control-extra-lighter rounded-pill pl-4"/>
            </div>
        </div>
        <div class="row">
            <div class="justify-content-center d-flex col-lg-8 mt-2 mb-3">
                <button type="button" class="btn btn-primary  rounded-pill px-4 text-white font-weight-bold normal">SAVE CHANGES</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "MyAccount"
}
</script>

<style scoped>

</style>
