<template>
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="d-none d-lg-flex col-12 px-0 pb-4 border-bottom border-light">
                <div class="col-lg-6 pl-0">
                    <span class="font-weight-bold medium">PRODUCT NAME</span>
                </div>
                <div class="col-lg-6 px-0 row no-gutters">
                    <div class="col-lg-4 text-center">
                        <span class="font-weight-bold medium">UNIT PRICE</span>
                    </div>
                    <div class="col-lg-4 text-center">
                        <span class="font-weight-bold medium">QUANTITY</span>
                    </div>
                    <div class="col-lg-4 pr-0 text-right">
                        <span class="font-weight-bold medium">TOTAL</span>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled row no-gutters col-12 px-lg-0 mt-3 mt-lg-0">
                <li class="row no-gutters col-12 py-4 border-bottom border-light"
                    v-for="(item, index) in model" :key="index">
                    <div class="col-lg-6 px-0 d-flex">
                        <div class="col-auto pl-0 align-self-center">
                            <img :src="item.data.image.url"
                                 class="cart-item-img"/>
                        </div>
                        <div class="cart-title col align-self-center">
                            <h3 class="font-weight-medium normal">{{ item.data.lang.name }}</h3>
                            <ul class="list-unstyled">
                                <li class="lh-200" v-for="(spec, i) in item.specification" :key="i">
                                    <i class="el-icon-arrow-right"></i>
                                    <span class="">{{spec.parent.lang.name}}:</span><span
                                    class="text-secondary px-1">{{spec.lang.name}}</span>
                                </li>

                            </ul>
                        </div>
                        <a href="/#" class="stretched-link"></a>
                    </div>
                    <div class="col-lg-6 row no-gutters px-0 mt-4 mt-lg-0">
                        <div class="col-4 col-lg-4 order-2 order-lg-1 text-center align-self-center">
                            <span class="font-weight-bold d-lg-none w-100 d-inline-block mb-2">UNIT PRICE</span>
                            <span class="text-gray-500 w-100 d-inline-block lh-45px">{{item.total / item.quantity}} {{course}}</span>
                        </div>
                        <div class="col-4 col-lg-4 order-1 order-lg-2  text-center align-self-center">
                            <span class="font-weight-bold d-lg-none w-100 d-inline-block mb-2">QUANTITY</span>
                            <span class="rounded-badge bg-extra-lighter normal font-weight-bold large">{{item.quantity}}</span>
                        </div>
                        <div class="col-4 col-lg-4 order-3 order-lg-3 text-center text-lg-right align-self-center">
                            <span class="font-weight-bold d-lg-none w-100 d-inline-block mb-2">TOTAL</span>
                            <span class="text-primary w-100 d-inline-block lh-45px">{{item.total}} {{course}}</span>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "Orders",
    props: ['lang', 'course'],
    data() {
        return {
            model: [],
        }
    },

    created() {
        this.get();
    },

    methods: {
        get() {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            axios.get('/orders-get', {
                headers: headers
            }).then(response => {
                if (response.status === 200) {
                    this.model = response.data.model;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
