<template>
    <div class="col-12 col-lg-9">
        <div class="row" v-if="model.length === 0">
            <div
                class="row col-12 mx-0 px-0 pb-4 border-bottom border-light d-none d-lg-flex text-center  justify-content-center">
                <img src="/images/empty_cart.png" alt="">
            </div>
        </div>
        <div class="row" v-if="model.length > 0">
            <div class="d-none d-lg-flex col-12 px-0 pb-4 border-bottom border-light">
                <div class="col-lg-6 pl-0">
                    <span class="font-weight-bold medium">PRODUCT NAME</span>
                </div>
                <div class="col-lg-6 px-0 row no-gutters">
                    <div class="col-lg-4 text-center">
                        <span class="font-weight-bold medium">UNIT PRICE</span>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled row no-gutters col-12 px-lg-0 mt-3 mt-lg-0">
                <li class="row no-gutters col-12 mb-3 px-lg-0 pt-5 pt-lg-4 pb-4 border-bottom border-light"
                    v-for="(item, index) in model" :key="index">
                    <div class="col-lg-6 px-0 d-flex">
                        <div class="col-auto pl-0 align-self-center">
                            <img
                                :src="item.data.image.url"
                                class="cart-item-img"/>
                        </div>
                        <div class="cart-title col align-self-center">
                            <h3 class="font-weight-medium normal">{{ item.data.lang.name }}</h3>
                            <ul class="list-unstyled">
                                <li class="lh-200" v-for="(spec, i) in item.specification" :key="i">
                                    <i class="el-icon-arrow-right"></i>
                                    <span class="">{{spec.parent.lang.name}}:</span><span
                                    class="text-secondary px-1">{{spec.lang.name}}</span>
                                </li>
                            </ul>
                        </div>
                        <a href="/#" class="stretched-link"></a>
                    </div>
                    <div class="col-lg-5 row no-gutters px-0 mt-4 mt-lg-0">
                        <div class="col-5 col-lg-5  text-center align-self-center">
                            <span class="font-weight-bold d-lg-none d-inline-block w-100 mb-2">UNIT PRICE</span>
                            <span
                                class="text-gray-500">{{ item.data.price.price }} {{
                                    item.data.price.valute
                                }}</span>
                        </div>
                        <div class="col-7 col-lg-6 ml-lg-auto text-center align-self-center">
                            <button type="button"
                                    class="btn btn-lg rounded-pill text-white font-weight-bold btn-primary w-100">
                                Detalii
                            </button>
                        </div>
                    </div>
                    <div
                        class="position-absolute position-lg-relative d-lg-flex  mt-n5 ml-auto h-lg-100 mt-lg-0 right-0 mr-2 mr-lg-0">
                        <button @click="deleteItem(item.whishlist_id)"
                                class="btn btn-icon-only btn-white btn-circle shadow-sm align-self-center"><i
                            class="el-icon-close"></i></button>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "Whishlist",
    props: ['lang', 'course'],
    data() {
        return {
            model: [],
        }
    },

    created() {
        this.get();
    },

    methods: {
        get() {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            axios.get('/whishlist-get', {
                headers: headers
            }).then(response => {
                if (response.status === 200) {
                    this.model = response.data.model;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        deleteItem(id) {
            axios.get('/api/whishlist-delete-item/' + id).then(response => {
                if (response.status === 200) {
                    this.get();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
