body {
    font-family: 'Poppins', sans-serif;
}

.h-divider {
    background-color: $primary;
    border-radius: 2px;
    height: 4px;
    width: 70px;
}

.v-divider {
    background-color: $primary;
    border-radius: 2px;
    width: 4px;
    height: 70px;
}

//bg sizez
.bg-rect {
    height: 210px;
    @include media-breakpoint-up(lg){
        height: 700px;
    }
}

body *::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
}
body *::-webkit-scrollbar {
    height: 8px;
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
}
body *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BBBBBB;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    border: 1px solid #191817;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 4px;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.90em;
    margin-left: 5px;
    line-height: 1.25;
    color: #888888;
    background-color: #fff;
    border-radius: 4px;
    transition: .2s;
}

.page-link:hover {
    z-index: 2;
    color: #191817;
    text-decoration: none;
    background-color: #FFFFFF;
    border-color: #EBEBEB;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.page-item:last-child .page-link {
    border: 1px solid #888888;
}

.page-item:last-child .page-link:hover {
    border-color: #191817;
}
