#footer{
    margin-bottom: 50px;
    .container {
        border-top: 1px solid #EBEBEB;
        //display: grid;
        //grid-template-columns: .7fr .7fr 1fr 1fr;
        align-self: center;
        align-items: center;
        gap: 45px;
        .row {
            align-items: baseline;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .about{
                margin-top: 38px;
                .logo{

                }

                .copyright{
                    margin-top: 19px;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                        color: #9FA4AF;
                    }
                }
            }

            .subscribe{
                .title{
                    margin-bottom: 16px;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }

                .input_subscribe {
                    .el-input {
                        width: 247px;
                        input {
                            border-radius: 20px 0 0 20px;
                        }

                        .el-input-group__append{
                            border-radius: 0 20px 20px 0;
                        }
                    }
                }
            }

            .contact{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0 auto;
                span{
                    font-size: 12px;
                    font-weight: 500;
                    color: #898989;
                    margin-bottom: 20px;
                    margin-right: 9px;
                }
            }

            .footer_socials{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                margin: 0 auto;
                span{
                    font-size: 12px;
                    font-weight: 500;
                    color: #898989;
                    margin: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }

    }

}