#header {
    background: white;

    .menu_valute,
    .menu_lang {
        outline: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;

        .header__search_var{
            // position: ;
            width: 100%;
            height: 100%;
            background: white;
            z-index: 999;
        }

        .left_menu {
            display: flex;
            align-items: center;
            min-width: 200px;
            .logo {
                margin-right: 60px;
            }

            .burger {
                width: 35px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                .b_item {
                    background: black;
                    height: 3px;
                    margin-bottom: 3px;
                    transition: all .4s ease-in-out;
                }

                .b_item:nth-child(1) {
                    width: 35px;
                }

                .b_item:nth-child(2) {
                    width: 20px;
                }

                .b_item:nth-child(3) {
                    width: 30px;
                }

                &:hover{
                    transition: all .4s ease-in-out;
                    .b_item:nth-child(1) {
                        width: 30px;
                    }

                    .b_item:nth-child(2) {
                        width: 35px;
                    }

                    .b_item:nth-child(3) {
                        width: 20px;
                    }
                }
            }
        }


        .menu {
            ul {
                display: flex;
                list-style: none;
                margin: auto;

                li {
                    margin-right: 44px;

                    .menu_item {
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: black;
                        text-decoration: none;
                        transition: all .2s ease-in-out;
                        &:hover{
                            color: $primary;
                        }
                    }

                    .active {
                        color: $primary;
                    }
                }
            }
        }

        .action_menu {
            display: flex;
            align-items: center;
            position: relative;

            .search{
                position: relative;
                padding-right: 30px;
                cursor: pointer;
                i{
                    font-size: 18px;
                    font-weight: bold;
                }
                &::after{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    content: '';
                    width: 1px;
                    height: 30px;
                    background: #E1E1E1;
                }
            }

            .menu_lang{
                @include media-breakpoint-up(lg){ 
                    padding-left: 25px;
                }
                .el-dropdown-link{
                    font-weight: 700;
                    color: black;
                    outline: 0;
                }
            }

            .menu_valute{
                @include media-breakpoint-up(lg){ 
                    padding-left: 25px;
                }
                
                .el-dropdown-link{
                    font-weight: 700;
                    color: black;
                    outline: 0;
                }
            }

            .menu_account{
                @include media-breakpoint-up(lg){ 
                    padding-left: 25px;
                }
                .el-dropdown-link{
                    font-weight: 700;
                    color: black;
                    outline: 0;
                }
            }

            .min_cart{
                padding-left: 40px;
            }
        }

        .min_cart{
            position: relative;
            cursor: pointer;
            .count_cart{
                position: absolute;
                top: 0;
                right: 7px;
                font-size: 14px;
            }

            svg{
                border-radius: 50%;
                transition: all 300ms ease-in-out;
                &:hover{
                    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
