// @import '~bootstrap/scss/bootstrap-grid';


.nav-slider-mob {
    position: absolute;
    align-self: center;
    top: 50%;
    z-index: 100;
    @media (min-width: 992px) {
        right: 50px;
        top: calc(50% - 58px);
    }

    .nav-icon-left, .nav-icon-right {
        background-color: #FFF;
        border-radius: 50%;
        margin-top: -20px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
        color: #707070;
        cursor: pointer;
        &:hover {
            color: #000;
        }

        i {
            font-weight: 700;
            font-size: 17px;
        }
            @media (min-width: 992px) {
                height: 50px;
                width: 50px;
            }
    }
    @media (min-width: 992px) {
        .nav-icon-right {
            color: #000;
        }

        .nav-icon-left {
            background-color: transparent;
            box-shadow: none;
            &:hover {
                background-color: #FFF;
                box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
            }
        }
    }

    .nav-icon-left {
        margin-left: -20px;
    }

    .nav-icon-right {
        margin-right: -20px;
    }
}


.slider {
    margin-top: 76px;
    .side-size {
        width: 75px;
    }

    .catalog_name {
        transform: rotate(-180deg);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 31.56%;
        font-weight: 600;
        writing-mode: vertical-lr;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 118%;
            right: 50%;
            width: 1px;
            height: 30px;
            background: black;
        }
    }

    .phone_name {
        transform: rotate(180deg);
        display: inline-flex;
        align-items: center;
        writing-mode: vertical-rl;

        .icon {
            border-radius: 100%;
            background: black;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            > i.fas {
                transform: rotate(180deg);
            }
        }

        .phone {
            font-size: 12px;
            font-weight: 600;
            margin-top: 20px;
        }
    }

    .el-carousel {
        .el-carousel__container {
            // height: 559px !important;
            height: 300px !important;

            @media (min-width: 992px) {
                height: 559px !important;
            }

            .el-carousel__arrow {
                width: 50px;
                height: 50px;
                outline: none;
                display: none;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;

                }

                @media (min-width: 992px) {
                    display: block;
                }
            }

            .el-carousel__arrow--left {
                right: 16px;
                left: unset;
                top: 55%;
                background: transparent;

                &:hover {
                    background: white;
                    box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
                    i {
                        color: black;
                    }
                }

                i {
                    color: #707070;
                    font-size: 20px;
                    font-weight: bold;
                    &.el-icon-arrow-left::before {
                        content: "\e6ea";
                    }
                }

            }

            .el-carousel__arrow--right {
                top: 40%;
                background: white;
                // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

                &:hover {
                    box-shadow: 0px 0px 25px rgba(150, 176, 203, 0.31);
                }

                i {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                    &.el-icon-arrow-right::before {
                        content: "\e6e9";
                    }
                }


            }

            .el-carousel__item {
                .item_img {
                    width: 100%;
                    object-fit: contain;
                }

                .content {
                    .square {
                        width: 303px;
                        height: 384px;
                        background: #FBE96B;
                        opacity: 0.8;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        padding: 25px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        .shop {
                            font-size: 14px;
                            font-weight: bold;
                            cursor: pointer;
                            text-decoration: none;
                            color: black;
                        }
                    }

                    .title_block {
                        position: absolute;
                        top: 50%;
                        left: 30%;
                        transform: translate(-50%, -30%);
                        display: grid;
                        max-width: 396px;

                        .sup {
                            font-size: 12px;
                            font-weight: bold;
                        }

                        .sub {
                            font-size: 60px;
                            font-weight: bold;
                            line-height: 60px;
                        }
                    }
                }
            }
        }

    }

    .footer_slider {
        margin-top: 20px;
        @media (min-width: 992px) {
            margin-top: 70px;;
        }
        .socialite {
            .soc_item {
                color: #9FA4AF;
                font-size: 12px;
                font-weight: 500;
                margin-right: 25px;

                &:hover {
                    color: black;
                    text-decoration: line-through;
                }
            }
        }
    }
}


//DISCOVER NOW
.section-title-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: -71px;
    font-size: 12px;
    letter-spacing: 3px;

}



.group_sections {
    position: relative;
    min-height: 1100px;

    .section_tranding {
        background: #191817;
        height: auto;
        padding-bottom: 320px;
        @media (min-width: 992px) {
            padding-bottom: 415px;
        }
        .head_trand {
            padding: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .logo {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 7%;
                    right: 14%;
                    width: 4px;
                    height: 70px;
                    background: white;
                }
            }

            .description {
                display: grid;

                .desc {
                    font-size: 15px;
                }

                .name {
                    margin-top: 50px;
                    font-size: 11px;
                    color: black;

                    .profile {
                        color: white;
                    }
                }
            }
        }
    }

    .section_tranding_offer {
        .slider_tranding {
            display: flex;
            justify-content: center;

            .slider_offer {
                width: 371px;
                height: 687px;

                .el-carousel__item {
                    height: 687px;

                    .img {
                        width: 371px;
                        height: 520px;

                        .slider_image_trand {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }


                    .title {
                        margin-top: 33px;
                        color: black;
                        font-size: 20px;
                        font-weight: bold;
                        @media (min-width: 992px) {
                            font-size: 25px;
                        }
                    }

                    .desc {
                        margin-top: 15px;
                        color: #898989;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }

                .el-carousel__indicators {
                    counter-reset: section;
                    font-size: 18px;
                    font-weight: 400;
                    float: left;
                    transform: none;
                    left: 0;

                    .el-carousel__indicator {
                        position: relative;
                        padding-right: 10px;
                        color: #9FA4AF;
                        &::before {
                            content: "/";
                            right: 0;
                            position: absolute;
                            font-weight: 300;
                            font-size: 18px;
                        }

                        &:last-child {
                            &::before {
                                content: unset;
                            }
                        }

                        .el-carousel__button {
                            background: transparent;
                            // padding-right: 40px;
                            outline: none;
                            height: 21px;
                            &::before {
                                counter-increment: section; /* Инкрементирует счетчик*/
                                content: "0" counter(section);
                                font-weight: 300;
                                font-size: 18px;
                                color: #000000;
                            }



                        }
                    }
                }
            }
        }

        .offer_image {
            align-self: flex-end;
            margin-top: 57px;
            @media (min-width: 992px) {
                margin-top: 0;
            }
            .title {
                display: flex;
                justify-content: flex-end;
                font-size: 25px;
                font-weight: bold;
                max-width: 570px;
                margin-bottom: 45px;
                @media (min-width: 992px) {
                    font-size: 36px;
                    margin-bottom: 60px;
                }
            }

            .content {
                .img {
                    width: 100%;
                    position: relative;
                    margin-bottom: 33px;
                    transition: all 300ms ease-in-out;
                    @media (min-width: 992px) {
                        width: 100%;
                        max-width: 570px;
                        height: 400px;
                    }

                    &:hover {
                        transition: all 300ms ease-in-out;
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    .detail {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                    }
                }

                .desc {
                    display: flex;
                    flex-wrap: wrap;

                    .desc_title {
                        font-size: 20px;
                        font-weight: bold;
                        color: #191817;
                        @media (min-width: 992px) {
                            font-size: 24px;
                        }
                    }

                    .desc_desc {
                        font-size: 13px;
                        font-weight: 400;
                        color: #898989;
                    }
                }
            }
        }
    }

    .bottom-sliders {
        margin-top: -285px;
        @media (min-width: 992px) {
            margin-top: -290px;
        }
    }
}

.section_offers {
    margin-top: 100px;
    margin-bottom: 50px;
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .item {
            display: grid;
            margin: 0 auto;
            .item_title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .item_desc {
                font-size: 12px;
                font-weight: 400;
                color: #9FA4AF;
                letter-spacing: 3px;
            }
        }
    }
}
