// @import '~bootstrap/scss/bootstrap-grid';

#product_section {
    .first_product_section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }

        .slider_product {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }

            .slider_primary {
                width: 85vw;
                height: auto;
                @media (min-width: 992px) {
                    width: 460px;
                    height: 600px;
                }

                .slider_primary_item {
                    width: 460px;
                    height: 300px;
                    @media (min-width: 992px) {
                        height: 600px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .slider-thumb {
                height: 75px;
                @media (max-width: 991.98px) {
                    max-width: 100%;
                }
                @media (min-width: 992px) {
                    width: 145px;
                    height: 600px;

                    .slick-list {
                        height: 600px !important;
                    }
                }

                .slick-list {
                    height: 75px;
                    @media (min-width: 992px) {
                        height: 600px;
                    }

                }

                .slick-track {
                    //display: grid;
                    margin-left: auto;
                    margin-right: auto;
                }

                .slider_thumb_item {
                    width: 65px !important;
                    height: 65px !important;
                    margin-right: 5px;
                    border: 1px solid #F9F9F9;

                    img {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover;
                    }

                    @media (min-width: 992px) {
                        width: 143px !important;
                        height: 143px !important;
                        border-radius: 4px;
                        overflow: hidden;
                        // img { border-radius: 4px;}
                    }

                }

                .slick-slide.slick-active.slick-current .slider_thumb_item {
                    border: 1px solid #191817;
                }
            }
        }

        .information_product {
            .product_info {
                .title {
                    font-size: 30px;
                    font-weight: bold;
                    color: black;
                }

                .rates {
                    display: flex;
                    margin-bottom: 30px;

                    .rate {
                        margin-right: 32px;
                    }

                    .count_rate {
                        font-size: 14px;
                        font-weight: 400;
                        color: #9FA4AF;
                    }
                }

                .price {
                    font-size: 24px;
                    font-weight: 600;
                    color: #555555;
                    margin-bottom: 28px;
                }

                .description {
                    font-size: 14px;
                    font-weight: 600;
                    color: #898989;
                    margin-bottom: 45px;
                }

                .section_prod_filters {
                    .filter_item {
                        display: flex;
                        margin-bottom: 33px;

                        .color__selector {
                            .el-radio-button {
                                background-size: cover;
                                width: 50px;
                                height: 50px;

                                .el-radio-button__inner {
                                    color: transparent !important;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .is-active {
                                .el-radio-button__inner {
                                    background: none !important;
                                    border: 2px solid #191817 !important;
                                    border-radius: 3px !important;
                                }
                            }
                        }

                        .name {
                            min-width: 120px;
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                            margin: auto 0;
                        }

                        .el-radio-group {
                            height: 30px;

                            .el-radio-button {
                                border-radius: 4px 0 0 4px;
                                box-shadow: none;
                                height: 100%;

                                .el-radio-button__inner {
                                    background: transparent;
                                    border-color: #EBEBEB;
                                    border-radius: 0;
                                    display: inline-flex;
                                    align-items: center;
                                    height: 100%;

                                    &:hover {
                                        color: black;
                                    }
                                }
                            }

                            .is-active {
                                border-radius: 4px 0 0 4px;

                                .el-radio-button__orig-radio:checked + .el-radio-button__inner {
                                    background: #191817;
                                    border-color: #EBEBEB;
                                    box-color: none;
                                    box-shadow: none;
                                }

                                .el-radio-button__inner {
                                    &:hover {
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                    }
                }

                .act_cart {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .qnt {
                        .el-input-number {
                            width: 120px;
                            @media (min-width: 992px) {
                                width: 135px;
                            }

                            .el-input-number__decrease {
                                border-radius: 22px 0 0 22px;
                                border-right: none;
                            }

                            .el-input-number__increase {
                                border-radius: 0 22px 22px 0;
                                border-left: none;
                            }

                            .el-input {
                                input {
                                    border-radius: 22px;
                                }
                            }
                        }
                    }

                    .btn_add_to_cart {
                        .el-button {
                            border-radius: 22px;
                            background: #191817;
                            color: white;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    .btn_add_guide {
                        .el-button {
                            border-radius: 22px;
                            background: #000000;
                            color: white;
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    .favorite {

                    }
                }
            }
        }

        .specifications_product {

        }
    }
}
