/* Custom scrollbar */
.custom-sbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-top: 2px;
    background-color: transparent;
    border: 1px solid transparent;
}

.custom-sbar::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.custom-sbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $primary;
    width: 45px;
}