.breadcrumb {
    background: transparent !important;
    padding: 0 !important;

    

    .breadcrumb_list {
        display: flex;
        padding: 0 !important;

        &.ml-default {
            .breadcrumb_list_item {
                margin-left: 30px;
                margin-right: 0px !important;
            }
        }

        .breadcrumb_list_item {
            font-size: 15px;
            font-weight: 600;

            margin-right: 30px;
            padding-left: 0 !important;

            &:first-child {
                list-style: none;
            }

            &::marker {
                color: #9FA4AF;
            }

            .breadcrumb_list_item_link {
                color: #9FA4AF;
            }
        }

        .active {
            .breadcrumb_list_item_link,
            &::marker  {
                color: #000000;
            }
        }
    }
}