<template>
    <li class="row col-12 no-gutters mb-3 px-lg-0 pt-5 pt-lg-4 pb-4 border-bottom border-light">
        <div class="col-12 col-lg-6 px-2 px-lg-0 d-flex">
            <div class="col-auto pl-0 align-self-center">
                <img v-if="cart.type === 1" :src="cart.color_image.url" class="cart-item-img"/>
                <img v-if="cart.type === 2" :src="cart.color_image" class="cart-item-img"/>
            </div>
            <div class="cart-title col align-self-center">
                <h3 class="font-weight-medium normal" v-if="cart.type === 1">{{ cart.data.lang.name }}</h3>
                <h3 class="font-weight-medium normal" v-if="cart.type === 2">{{ cart.name }}</h3>
                <ul class="list-unstyled" v-if="cart.type === 1">
                    <li class="lh-200"
                        v-for="(spec, i) in cart.specification"
                        :key="i">
                        <i class="el-icon-arrow-right"></i>
                        <span class="">{{ spec.parent.lang.name }}:</span><span
                        class="text-secondary px-1">{{ spec.lang.name }}</span></li>
                </ul>
                <ul class="list-unstyled" v-if="cart.type === 2">
                    <li class="lh-200">
                        <i class="el-icon-arrow-right"></i>
                        <span class="">{{ translation('Marime:', 'Размер:') }}</span><span
                        class="text-secondary px-1">{{ cart.spec }}</span></li>
                </ul>
            </div>
            <a v-if="cart.type === 1" :href="'/product/' + cart.data.slug" class="stretched-link"></a>
            <a v-if="cart.type === 2" :href="'/shoes/' + cart.data.slug" class="stretched-link"></a>
        </div>
        <div class="col-12 col-lg-5 row mx-0 mt-4 mt-lg-0">
            <div class="col-4 px-2 col-lg-4 order-2 order-lg-1  align-self-stretch align-self-lg-center">
                            <span
                                class="font-weight-bold  d-inline-block w-100 d-lg-none mb-2 text-center">{{ translation('Pret unitar', 'Цена за единицу') }}</span>
                <span
                    class="text-gray-500 lh-45px d-inline-block w-100 d-lg-inline text-center text-lg-left">
                    {{ cart.data.price.price }} {{ cart.data.price.valute }}</span>
            </div>
            <div
                class="col-4 px-0 px-lg-2 col-lg-4 order-1 order-lg-2  align-self-stretch align-self-lg-center">
                            <span
                                class="font-weight-bold text-center d-inline-block w-100 d-lg-none mb-2">{{ translation('Cantitatea', 'Количество') }}</span>
                <el-input-number class="rounded-pill overflow-hidden w-100 el-input-number--extra-lighter"
                                 v-model="cart.quantity" @change="updateQuantity()" :min="1"></el-input-number>
            </div>
            <div class="col-4 col-lg-4 order-3 align-self-stretch align-self-lg-center text-center">
                <span class="font-weight-bold d-inline-block w-100 d-lg-none mb-2">{{ translation('Total', 'Всего') }}</span>
                <span
                    class="text-primary lh-45px d-inline-block w-100 d-lg-inline">
                    {{ cart.data.price.price * cart.quantity }}
                    {{ cart.data.price.valute }}
                </span>

            </div>
        </div>
        <div
            class="position-absolute position-lg-relative d-lg-flex  mt-n5 ml-auto h-lg-100 mt-lg-0 right-0 mr-2 mr-lg-0">
            <button class="btn btn-icon-only btn-white btn-circle shadow-sm align-self-center"
                    @click="deleteFromStore()">
                <i class="el-icon-close"></i></button>
        </div>
    </li>
</template>

<script>
export default {
    name: "Item",
    props: ['item', 'lang'],
    data() {
        return {
            cart: [],
        }
    },
    created() {
        this.cart = this.item;
    },

    methods: {
        updateQuantity() {
            let prod = {
                id: this.cart.data.id,
                quantity: this.cart.quantity,
                specification: this.cart.spec,
                color: this.cart.color,
                type: this.cart.type
            };
            this.$store.dispatch('updateItemQuantity', prod);
            this.$parent.getCart(0);
        },


        deleteFromStore() {
            let prod = {
                id: this.cart.data.id,
                quantity: this.cart.quantity,
                specification: this.cart.spec,
                type: this.cart.type,
            };
            this.$store.dispatch('deleteFromStore', prod);
            this.$parent.getCart(1);
        },

        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },
    }
}
</script>

<style scoped>

</style>
