.w-lg-auto {
    @include media-breakpoint-up(lg) {
        width: auto !important;
    }
}

.h-lg-100 {
    @include media-breakpoint-up(lg) {
        height: 100% !important;
    }
}

.right-0 {
    right: 0;
}

.position-lg-relative {
    @include media-breakpoint-up(lg) {
        position: relative !important; 
    }
}
.position-lg-absolute {
    @include media-breakpoint-up(lg) {
        position: absolute !important; 
    }
}

.rounded-form {
    border-radius: 22.5px;
}