.text-gray-400 { color: $gray-400;}
a.text-gray-400:hover { color: #000000; text-decoration: none;}

.text-lg-white {
    @include media-breakpoint-up(lg) {
        color: #FFF !important;
    }
}

// Text decorations
.text-underline { text-decoration: underline; }
.text-through { text-decoration: line-through; }

//Line Heights
.lh-150 {
    line-height: 1.5;
}
.lh-200 {
    line-height: 2;
}
.lh-250 {
    line-height: 2.5;
}
.lh-300 {
    line-height: 3;
} 

.lh-45px {
    line-height: 45px;
}

// Letter spacings

.ls-1 { letter-spacing: .0625rem; }
.ls-15 { letter-spacing: .09375rem; }
.ls-2 { letter-spacing: 0.125rem; }

//Font weight
.font-weight-400, .font-weight-regular { font-weight: 400 !important; } // Regular
.font-weight-500, .font-weight-medium { font-weight: 500 !important; } // Medium
.font-weight-600, .font-weight-semibold { font-weight: 600 !important; } // SemiBold

// Letter Spacing
.letter-spacing-3 {letter-spacing: 3px  !important;}

//Font size
.extrasmall {
    font-size: $font-size-xs;
}
.normal {
    font-size: $font-size-normal;
}

.medium {
    font-size: $font-size-medium;
}



//hover color - text 
.hover-primary:hover,
a.hover-primary:hover,
body a.hover-primary:hover {
    color: $primary !important;
}

.hover-black:hover,
a.hover-black:hover,
body a.hover-black:hover {
    color: $black !important;
}

//hover decoration - text
.hover-text-through:hover,
a.hover-text-through:hover,
body a.hover-text-through:hover {
    text-decoration: line-through !important;
  }