<template>
    <div>
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Gallery</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-12 mb-3 d-block">
                    <label for="gallery">Gallery</label>
                    <el-upload
                        :headers="{ 'X-CSRF-TOKEN': token }"
                        :action="'/admin/new-products/product_gallery/'+ product_id"
                        :on-remove="handleRemove"
                        :on-success="handleAvatarSuccess"
                        :file-list="fileList"
                        :file-list.sync="fileList"
                        multiple
                        list-type="picture-card">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                        <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>
            </div>
            <div class="col-lg-12 mb-3 d-flex justify-spece-between flex-wrap" v-if="fileList.length > 0">
                <div class="item d-flex flex-column mr-4 mb-2" v-for="(item, index) in fileList" :key="index">
                    <img class="m-auto mb-2" style="width: 75px; height: 75px;" :src="item.url" alt="">
                    <el-checkbox v-model="item.checked" :label="item.name" border></el-checkbox>
                </div>
            </div>
            <hr class="my-4"/>
            <div class="d-flex p-3 justify-content-between">
                <button @click="$parent.active = 0" type="submit" class="btn btn-success">Back</button>
                <button @click="updateGallery()" type="submit" class="btn btn-success">Save & next</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Gallery",
    props: ['product_id'],
    data() {
        return {
            dialogImageUrl: '',
            dialogVisible: false,
            fileList: [],
            token: '',
        }
    },

    mounted(){
        this.getGallery();
    },

    created() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    methods: {
        handleAvatarSuccess(res, file) {
            this.fileList = file.response.fileList;
            this.getGallery();
        },

        handleRemove(file) {
            axios.post('/admin/new-products/del_product_gallery', file).then(response => {
                if (response.status === 200) {
                    this.getGallery();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        getGallery() {
            axios.get('/admin/new-products/get-gallery/' + this.product_id).then(response => {
                if (response.status === 200) {
                    this.fileList = response.data.fileList;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        updateGallery() {
            axios.post('/admin/new-products/updateGallery', this.fileList).then(response => {
                if (response.status === 200) {
                    this.$parent.next();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
