<template>
    <div>
        <div class="mb-4 card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Specification</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">

                            <div class="card" v-for="(lang, index) in langs" :key="index">
                                <div class="card-header" :id="'heading'+index">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" :data-target="'#collapse'+index"
                                                aria-expanded="true" :aria-controls="'collapse'+index">
                                            Text spre completare - [{{ lang.name }}]
                                        </button>
                                    </h2>
                                </div>
                                <div :id="'collapse'+index"
                                     class="collapse"
                                     :class="index === lang ? 'show' : ''"
                                     :aria-labelledby="'heading'+index"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Descriere
                                                        [{{ index }}]</h6>
                                                    <vue-editor v-model="form.description[`${index}`]"></vue-editor>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-12">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="input-username12">Tip oferta</label>-->
<!--                            <div class="checkbox_group">-->
<!--                                <el-checkbox v-model="form.offer_type_id.promotie" label="Produse la promotie"-->
<!--                                             border size="medium"></el-checkbox>-->
<!--                                <el-checkbox v-model="form.offer_type_id.populare" label="Produse populare"-->
<!--                                             border size="medium"></el-checkbox>-->
<!--                                <el-checkbox v-model="form.offer_type_id.noi" label="Produse noi" border-->
<!--                                             size="medium"></el-checkbox>-->
<!--                                <el-checkbox v-model="form.offer_type_id.no_stock" label="Nu este in stock"-->
<!--                                             border-->
<!--                                             size="medium"></el-checkbox>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Pret vinzare</label>
                            <el-input placeholder="Price" v-model=form.price></el-input>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <el-checkbox v-model="check_price">Aplica pretul</el-checkbox>-->
<!--                        </div>-->
                    </div>
<!--                    <div class="col-lg-12">-->
<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label" for="input-username">-->
<!--                                Pret cumparare</label>-->
<!--                            <el-input placeholder="Price" v-model="form.price_buing"></el-input>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">SKU</label>
                            <el-input :disabled="true" placeholder="SKU" v-model="form.sku"></el-input>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group" :style="'display: grid'">
                            <label :for="'exampleFormControlSelect22'">Labels</label>
                            <el-select filterable :id="'exampleFormControlSelect22'"
                                       v-model="form.labels"
                                       placeholder="Conditii"
                                       multiple>
                                <el-option
                                    v-for="(fur, ii) in labels"
                                    :key="ii"
                                    :label="fur.lang.name"
                                    :value="fur.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group" :style="'display: grid'">
                            <label :for="'exampleFormControlSelect22'">Furnizori</label>
                            <el-select filterable :id="'exampleFormControlSelect22'"
                                       v-model="form.furnizor_id"
                                       placeholder="Furnizor">
                                <el-option
                                    v-for="(fur, ii) in furnizor"
                                    :key="ii"
                                    :label="fur.name"
                                    :value="fur.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group" :style="'display: grid'">
                            <label for="exampleFormControlSelect10">Category</label>
                            <el-select filterable @change="getCat()"
                                       id="exampleFormControlSelect10"
                                       v-model="form.cat_id"
                                       placeholder="Select">
                                <el-option
                                    v-for="(category, i) in categories"
                                    :key="i"
                                    :label="category.lang.name"
                                    :value="category.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-12" v-if="form.category.length > 0">
                        <div class="form-group" :style="'display: grid'">
                            <label for="exampleFormControlSelect10">Subcategory</label>
                            <el-select filterable id="exampleFormControlSelect10" v-model="form.category_id"
                                       placeholder="Select" @change="getAttributes()">
                                <el-option
                                    v-for="(category, i) in form.category"
                                    :key="i"
                                    :label="category.lang.name"
                                    :value="category.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <hr class="my-4"/>
                <button @click="submitProduct()" type="submit" class="btn btn-success">Save & next</button>
            </div>
        </div>
        <el-alert
            class="mb-1"
            v-for="(err, index) in errors"
            :key="index"
            :title="index +' required!'"
            type="error">
        </el-alert>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";
export default {
    name: "Information",
    props: ['categories', 'furnizor', 'labels', 'model', 'langs'],
    components: {
        VueEditor
    },
    data() {
        return {
            check_price: false,
            errors: [],
            form: {
                offer_type_id: {
                    promotie: false,
                    populare: false,
                    noi: false,
                    credit_zero: false,
                    no_stock: false,
                },
                description: {
                    ro: '',
                    ru: '',
                },

                labels: [],
                furnizor_id: '',
                cat_id: '',
                category: [],
                category_id: '',
                price: '',
                price_buing: '',
                sku: '',
            },
            spec: [],
        }
    },

    watch: {
        'check_price': {
            handler() {
                if (this.check_price === true) {
                    this.form.price_buing = this.form.price;
                } else {
                    this.form.price_buing = '';
                }
            }
        }
    },

    mounted() {
        if (this.model !== null) {
            this.setProduct()
            this.getCat();
        }
    },

    created() {
        this.getAttributes();
    },

    methods: {
        setProduct() {
            this.form = {
                offer_type_id: {
                    promotie: this.model.offer_type_promotie,
                    populare: this.model.offer_type_populare,
                    noi: this.model.offer_type_new,
                    no_stock: this.model.no_stock,
                },
                description: {
                    ro: this.model.description_ro,
                    ru: this.model.description_ru,
                },
                labels: this.pluckIds(this.model.labels),
                furnizor_id: this.model.furnizor_id,
                cat_id: this.model.category.parent.id,
                category: [],
                category_id: this.model.category_id,
                price: this.model.price.hasOwnProperty('price') ? this.model.price.price : this.model.price,
                price_buing: this.model.price_buing,
                sku: this.model.sku,
            }
        },

        pluckIds(arr) {
            return arr.map(function (value, index, array) {
                return parseInt(value.label_id);
            });
        },


        getCat() {
            let data = {
                category_id: this.form.cat_id,
            }
            axios.post('/axios/products/get-cat', data).then(response => {
                if (response.status === 200) {
                    this.form.category = response.data.childs;
                    this.getAttributes();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        getAttributes() {
            let a = this.form.category.find(item => item.id === this.form.category_id);
            if (a === undefined) {
                this.spec = [];
            } else {
                this.spec = a.attrib;
            }

        },

        submitProduct() {
            let id = this.model ? this.model.id : null;
            axios.post('/admin/new-products/store/' + id + '/1', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Product saved with success!',
                        type: 'success'
                    });
                    this.$parent.product_id = response.data.model;
                    this.$parent.next();
                    this.$parent.specification = this.spec;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
