<template>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group" :style="'display: grid'">
                <label :for="'exampleFormControlSelect2'+i+'-'+index">Atribute</label>
                <el-select filterable
                           :id="'exampleFormControlSelect2'+i+'-'+index"
                           v-model="attribute.specs"
                           placeholder="Specification"
                           @change="$parent.setSpec(index, i)">
                    <el-option
                        :disabled="sp.selectedAttribute.includes(spec.atribute.id)"
                        v-for="(spec, ii) in spec"
                        :key="ii"
                        :label="spec.atribute.lang.name"
                        :value="spec.atribute.id">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group" :style="'display: grid'">
                <label :for="'exampleFormControlSelect3'+i">Specification</label>
                <el-select filterable :id="'exampleFormControlSelect3'+i"
                           v-model="attribute.sub_specs"
                           placeholder="Specification">
                    <el-option
                        v-for="(spe, ind) in attribute.data_sub_specs"
                        :key="ind"
                        :label="spe.lang.name"
                        :value="spe.id">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="col-lg-2 m-auto d-flex">
            <el-button @click="$parent.addAtribute(index)" type="primary" icon="el-icon-plus"
                       circle></el-button>
            <el-button @click="$parent.spliceAtribute(index, i)" type="primary" v-if="i > 0"
                       icon="el-icon-minus" circle></el-button>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductSpecifications",
    props: ['attribute', 'i', 'sp', 'spec', 'index']
}
</script>

<style scoped>

</style>
