<template>
    <div>
        <div class="row">
            <div class="col-xl-6" v-for="(item, index) in specification" :key="index">
                <div class="form-group" :style="'display: grid'">
                    <label :for="'exampleFormControlSelect2-'+index">{{ item.atribute.lang.name }}</label>
                    <el-select filterable
                               multiple
                               :id="'exampleFormControlSelect2-'+index"
                               v-model="item.item"
                               placeholder="Specification"
                               @change="setArray($event)"
                               @remove-tag="removeArray($event)">
                        <el-option
                            v-for="(spec, ii) in item.atribute.childs"
                            :key="ii"
                            :label="spec.lang.name"
                            :value="spec.id">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <!--            <div class="col-xl-2">-->
            <!--                <div class="form-group" :style="'display: grid'">-->
            <!--                    <label>Add more</label>-->
            <!--                    <el-button :style="'width: 40px;height: 40px;'"-->
            <!--                               type="primary"-->
            <!--                               icon="el-icon-circle-plus-outline"-->
            <!--                               circle></el-button>-->
            <!--                </div>-->
            <!--            </div>-->
            <hr class="my-4"/>
            <div class="d-flex p-3 justify-content-between">
                <button @click="$parent.active = 1" type="submit" class="btn btn-success">Back</button>
                <button @click="submitProduct()" type="submit" class="btn btn-success">Save & next</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Specification",
    props: ['product_id', 'specification', 'model'],
    data() {
        return {
            array: [],
            specs: {},
            form: {
                specification: [],
            }
        }
    },

    created() {
        if (this.model !== null) {
            this.form.specification = this.model.pluck_specs;
            this.setAttributes();
        }
    },

    methods: {
        setAttributes() {
            for (const [key, value] of Object.entries(this.model.grouped_specification)) {
                let a = this.specification.find(item => item.attribute_id == key);
                Vue.set(a, 'item', value);
            }
        },

        removeArray(e) {
            var index = this.form.specification.indexOf(e);
            if (index !== -1) {
                this.form.specification.splice(index, 1);
            }
        },

        setArray(e) {
            this.form.specification = _.union(this.form.specification, e);
        },

        submitProduct() {
            axios.post('/admin/new-products/store/' + this.product_id + '/2', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Product saved with success!',
                        type: 'success'
                    });
                    this.$parent.model_step_three = response.data.model;
                    window.location.href = window.location.href;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
        concatenate() {
            let res = [];
            this.specs.forEach(function callback(currentValue, index, array) {
                res = res.concat(currentValue)
            })
            return res;
        },
    },


    computed: {

        getColor() {
            let spec = this.specification.find(item => item.attribute_id === 2).atribute.childs;
            let prop = this.getSize;

            spec.map(function (value, key) {
                Vue.set(value, 'sizes', prop)
            });

            return spec;
        },

        getSize() {
            return this.specification.find(item => item.attribute_id === 1).atribute.childs;
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    margin-bottom: 10px;

    .name_item {
        width: 100px;
        border: 1px solid #cacaca;
        text-align: center;
        margin-right: 20px;
    }
}
</style>
